### SharkAttack - Parte 3

# Valores Inconsistentes

In [2]:
import pandas as pd
import numpy as np
import re
import zipfile
import pylab as plt    
import seaborn as sns
import sys
from datetime import datetime, time
from jupyterthemes import jtplot
jtplot.style()

from functions import *

pd.set_option('display.max_columns', None)  # me muestre todas las columnas

In [3]:
shark=pd.read_csv('../data/sharkattack_parte2.csv')

In [4]:
shark.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,species,investigator,pdf,href,href1,casenumber1,casenumber2,originalorder,unnamed,unnamed1,time
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,0,0,18:00
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,0,0,14:00
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,0,0,07:45
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,-1,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0,0,25:00
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0,0,25:00

In [5]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   casenumber     6302 non-null   object
 1   date           6302 non-null   object
 2   year           6302 non-null   float64
 3   type           6302 non-null   object
 4   country        6302 non-null   object
 5   area           6302 non-null   object
 6   location       6302 non-null   object
 7   activity       6302 non-null   object
 8   name           6302 non-null   object
 9   sex            6302 non-null   object
 10  age            6299 non-null   object
 11  injury         6302 non-null   object
 12  fatal          6302 non-null   object
 13  species        6302 non-null   object
 14  investigator   6302 non-null   object
 15  pdf            6302 non-null   object
 16  href           6302 non-null   object
 17  href1          6302 non-null   object
 18  casenumber1    6302 non-null   object
 19  casenumber2    6302 non-null   object
 20  originalorder  6302 non-null   float64
 21  unnamed        6302 non-null   int64
 22  unnamed1       6302 non-null   int64
 23  time           6302 non-null   object
dtypes: float64(2), int64(2), object(20)
memory usage: 1.2+ MB

---

En esta parte voy a analizar la inconsistencia de los datos y por lo tanto voy a procurar que todos los valores de cada columna tengan el tipo de dato esperado. Los tipos de datos esperados son:
1. casenumber: str
2. date: date
3. year: int16
4. type: str
5. country: str
6. area: str
7. location: str
8. activity: str
9. name: str
10. sex: str
11. age: int
12. injury: str
13. fatal: str
14. species: str
15. investigator: str
16. pdf: str
17. href: str
18. href1: str
19. casenumber1: str
20. casenumber2: str
21. originalorder: int16
22. unnamed: int16
23. unnamed1: int16
24. time: datetime

---

# Casenumber

In [6]:
shark['casenumber'][:10]

0      2018.06.25
1      2018.06.18
2      2018.06.09
3      2018.06.08
4      2018.06.04
5    2018.06.03.b
6    2018.06.03.a
7      2018.05.27
8    2018.05.26.b
9    2018.05.26.a
Name: casenumber, dtype: object

In [7]:
shark.casenumber.unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0003',
       'ND.0002', 'ND.0001'], dtype=object)

In [8]:
shark.casenumber.str.strip()

0       2018.06.25
1       2018.06.18
2       2018.06.09
3       2018.06.08
4       2018.06.04
           ...
6297       ND.0005
6298       ND.0004
6299       ND.0003
6300       ND.0002
6301       ND.0001
Name: casenumber, Length: 6302, dtype: object

In [9]:
repetidos(shark, 'casenumber')

1

In [10]:
shark['casenumber'].apply(type).value_counts()

casenumber
<class 'str'>    6302
Name: count, dtype: int64

La mayoría son fechas que están en formato Y/M/D y algunos tienen un .* a la derecha que no aporta nada.

En este caso como no deja de ser un elemento de identificación, no voy a trabajar más en el de momento y lo voy a dejar con este formato.

---

# Date

In [11]:
shark.date[:10]

0    25-Jun-2018
1    18-Jun-2018
2    09-Jun-2018
3    08-Jun-2018
4    04-Jun-2018
5    03-Jun-2018
6    03-Jun-2018
7    27-May-2018
8    26-May-2018
9    26-May-2018
Name: date, dtype: object

In [12]:
shark.date.unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [13]:
shark.date.str.strip()

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6297    Before 1903
6298    Before 1903
6299      1900-1905
6300      1883-1889
6301      1845-1853
Name: date, Length: 6302, dtype: object

Esta columna es relevante y la necesito en formato date. Por lo que realizo las operaciones necesarias

1.- Los valores que tengan formato xx-Mes-xxxx los paso a una nueva columna llamada date1 y los sustituyo por un valor proxy de -1
2.- Si tiene la estructura Mes-xxxx establezco que es el día 01 y hago lo mismo que en el paso anterior

el resto de valores los miro más adelante

In [14]:
patron = r'\d{2}-\b\w{3}\b-\d{4}'
for i, valor in enumerate(shark['date']):
    fecha = re.search(patron, valor)
    if fecha is not None:
        shark.at[i, 'date1'] = fecha.group()
        shark.at[i, 'date'] = 0

In [15]:
shark.date[:15]

0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14    May 2018
Name: date, dtype: object

In [16]:
patron = r'\b\w{3}\b-\d{4}'
dia = '01-'
for i, valor in enumerate(shark['date']):
    fecha = re.search(patron, str(valor))
    if fecha is not None:
        fecha = dia + fecha.group(0)
        shark.at[i, 'date1'] = fecha
        shark.at[i, 'date'] = '0'

In [17]:
shark.date.value_counts()

date
0                5349
0                 370
1957               11
1942                9
1956                8
                 ...
1928                1
Ca. 1929            1
Reported 1929       1
1932                1
1845-1853           1
Name: count, Length: 376, dtype: int64

In [18]:
patron = r'\d{4}'
for i, valor in enumerate(shark['date']):
    fecha = re.search(patron, str(valor))
    if fecha is not None:
        shark.at[i, 'date1'] = fecha.group()
        shark.at[i, 'date'] = 0

In [19]:
valores_unicos = shark.loc[(shark['date'] != 0) & (shark['date'] != '0'), 'date'].unique()
valores_unicos

array(['22-Jul-144', 'Woirld War II', 'Reported 26-Sep-t937',
       'Circa 500 A.D.', '77  A.D.', 'Ca. 5 A.D.', 'Ca. 214 B.C.',
       'Ca. 336.B.C..', '493 B.C.', 'Ca. 725 B.C.', 'No date',
       '"Before the war"', 'World War II'], dtype=object)

In [20]:
shark.loc[shark['date'] == '"Before the war"', 'date1'] = '01-Sep-1939'
shark.loc[shark['date'] == '"Before the war"', 'date'] = '0'

In [21]:
shark.loc[shark['date'] == 'World War II', 'date1'] = '02-Sep-1945'
shark.loc[shark['date'] == 'World War II', 'date'] = '0'

In [22]:
shark.loc[shark['date'] == 'Woirld War II', 'date1'] = '02-Sep-1945'
shark.loc[shark['date'] == 'Woirld War II', 'date'] = '0'

In [23]:
shark.loc[shark['date'] == 'Reported 26-Sep-t937', 'date1'] = '26-Sep-1937'
shark.loc[shark['date'] == 'Reported 26-Sep-t937', 'date'] = '0'

In [24]:
shark.loc[shark['date'] == 'No date', 'date1'] = '01-Ene-1900'
shark.loc[shark['date'] == 'No date', 'date'] = '0'

In [25]:
shark.loc[shark['date'] == '22-Jul-144', 'date1'] = '22-Jul-1944'
shark.loc[shark['date'] == '22-Jul-144', 'date'] = '0'

In [26]:
valores_unicos = shark.loc[(shark['date'] != 0) & (shark['date'] != '0'), 'date'].unique()
valores_unicos

array(['Circa 500 A.D.', '77  A.D.', 'Ca. 5 A.D.', 'Ca. 214 B.C.',
       'Ca. 336.B.C..', '493 B.C.', 'Ca. 725 B.C.'], dtype=object)

In [27]:
valores_unicos.size

7

Como son solo 7 valores no lo considero representativo y los igualo a 01-Ene-1900

In [28]:
shark['date'] = shark['date1']

In [29]:
shark.date.isna().sum()

7

In [30]:
shark.date.fillna('01-Ene-1900', inplace=True)

In [31]:
repetidos(shark, 'date')

1

In [32]:
shark['date'].apply(type).value_counts()

date
<class 'str'>    6302
Name: count, dtype: int64

---

# Year

In [33]:
shark.year[:10]

0    2018.0
1    2018.0
2    2018.0
3    2018.0
4    2018.0
5    2018.0
6    2018.0
7    2018.0
8    2018.0
9    2018.0
Name: year, dtype: float64

In [37]:
shark['year'] = shark['year'].astype('int16')

In [38]:
shark.year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815, 1812,
       1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800, 1797,
       1792, 1791, 1788, 1787, 1786, 1785, 1784, 1783, 1780, 1779, 1776,
       1771, 1767, 1764, 1758, 1753, 1751, 1749, 1755, 1748, 1742, 1738,
       1733, 1723, 1721, 1703, 1700, 1642, 1638, 1637, 1617, 1595, 1580,
       1555, 1554, 1543,  500,   77,    5,    0], dtype=int16)

In [39]:
repetidos(shark, 'year')

1

In [40]:
shark['year'].apply(type).value_counts()

year
<class 'int'>    6302
Name: count, dtype: int64

---

# Type

In [41]:
shark.type[:10]

0       Boating
1    Unprovoked
2       Invalid
3    Unprovoked
4      Provoked
5    Unprovoked
6    Unprovoked
7    Unprovoked
8    Unprovoked
9    Unprovoked
Name: type, dtype: object

In [42]:
shark.type.str.strip()

0          Boating
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
6297    Unprovoked
6298    Unprovoked
6299    Unprovoked
6300    Unprovoked
6301    Unprovoked
Name: type, Length: 6302, dtype: object

In [43]:
shark.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'unknown', 'Boat', 'Boatomg'], dtype=object)

In [44]:
shark.loc[shark['type'] == 'Boatomg', 'type'] = 'Boat'

In [45]:
shark.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'unknown', 'Boat'], dtype=object)

In [46]:
repetidos(shark, 'type')

1

In [47]:
shark['type'].apply(type).value_counts()

type
<class 'str'>    6302
Name: count, dtype: int64

---

# Country

In [48]:
shark.country[:20]

0              USA
1              USA
2              USA
3        AUSTRALIA
4           MEXICO
5        AUSTRALIA
6           BRAZIL
7              USA
8              USA
9              USA
10       AUSTRALIA
11             USA
12             USA
13         ENGLAND
14       AUSTRALIA
15    SOUTH AFRICA
16       AUSTRALIA
17        THAILAND
18      COSTA RICA
19       AUSTRALIA
Name: country, dtype: object

In [49]:
shark.country.str.strip()

0                      USA
1                      USA
2                      USA
3                AUSTRALIA
4                   MEXICO
               ...
6297             AUSTRALIA
6298             AUSTRALIA
6299                   USA
6300                PANAMA
6301    CEYLON (SRI LANKA)
Name: country, Length: 6302, dtype: object

In [50]:
shark.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'unknown', 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [51]:
shark.country = [e.lower() for e in shark.country]

In [52]:
shark.country.unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'unknown', 'cuba', 'mauritius',
       'new zealand', 'spain', 'samoa', 'solomon islands', 'japan',
       'egypt', 'st helena, british overseas territory', 'comoros',
       'reunion', 'french polynesia', 'united kingdom',
       'united arab emirates', 'philippines', 'indonesia', 'china',
       'columbia', 'cape verde', 'fiji', 'dominican republic',
       'cayman islands', 'aruba', 'mozambique', 'puerto rico', 'italy',
       'atlantic ocean', 'greece', 'st. martin', 'france',
       'papua new guinea', 'trinidad & tobago', 'kiribati', 'israel',
       'diego garcia', 'taiwan', 'jamaica', 'palestinian territories',
       'guam', 'seychelles', 'belize', 'nigeria', 'tonga', 'scotland',
       'canada', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
       'grand cayman', 'liberia', 'vanuatu', 'mexico ', 'honduras',
       'venezuela', 'sri lanka', ' tonga', 'uruguay', 'india',
       'micronesia', 'caribbean sea', 'okinawa', 'tanzania',
       'marshall islands', 'egypt / israel', 'northern arabian sea',
       'hong kong', 'el salvador', 'angola', 'bermuda', 'montenegro',
       'iran', 'tunisia', 'namibia', 'north atlantic ocean', 'portugal',
       'south china sea', 'bangladesh', 'palau', 'western samoa',
       'pacific ocean ', 'british isles', 'grenada', 'iraq', 'turkey',
       'singapore', 'new britain', 'sudan', 'johnston island',
       'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
       'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'monaco', 'guyana', 'haiti', 'san domingo', 'ireland', 'kuwait',
       'yemen ', 'reunion island', 'falkland islands', 'crete', 'cyprus',
       'egypt ', 'west indies', 'burma', 'lebanon', 'paraguay',
       'british new guinea', 'ceylon', 'ocean', 'georgia', 'syria',
       'tuvalu', 'indian ocean?', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'tobago', 'peru',
       'africa', 'algeria', 'coast of africa', 'tasman sea', 'ghana',
       'greenland', 'mediterranean sea', 'sweden', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea',
       'red sea?', 'asia?', 'ceylon (sri lanka)'], dtype=object)

In [53]:
repetidos(shark, 'country')

1

In [54]:
shark['country'].apply(type).value_counts()

country
<class 'str'>    6302
Name: count, dtype: int64

Los datos parecen consistentes, por lo que los voy a dejar así, en caso de necesitarlo más adelante profundizaré más.

---

# Area

In [55]:
shark.area[:10]

0         California
1            Georgia
2             Hawaii
3    New South Wales
4             Colima
5    New South Wales
6         Pernambuco
7            Florida
8            Florida
9            Florida
Name: area, dtype: object

In [56]:
shark.area.str.strip()

0              California
1                 Georgia
2                  Hawaii
3         New South Wales
4                  Colima
              ...
6297    Western Australia
6298    Western Australia
6299       North Carolina
6300              unknown
6301     Eastern Province
Name: area, Length: 6302, dtype: object

In [57]:
repetidos(shark, 'area')

1

In [58]:
shark['area'].apply(type).value_counts()

area
<class 'str'>    6302
Name: count, dtype: int64

Estos datos también parecen consistentes, por lo que también los voy a dejar así y en caso de necesitarlo más adelante profundizaré más.

---

# Location

In [59]:
shark.location[:10]

0                          Oceanside, San Diego County
1                       St. Simon Island, Glynn County
2                                         Habush, Oahu
3                                   Arrawarra Headland
4                                             La Ticla
5                                   Flat Rock, Ballina
6                                Piedade Beach, Recife
7    Lighhouse Point Park, Ponce Inlet, Volusia County
8                         Cocoa Beach, Brevard  County
9                        Daytona Beach, Volusia County
Name: location, dtype: object

In [60]:
shark.location.str.strip()

0               Oceanside, San Diego County
1            St. Simon Island, Glynn County
2                              Habush, Oahu
3                        Arrawarra Headland
4                                  La Ticla
                       ...
6297                            Roebuck Bay
6298                                unknown
6299                         Ocracoke Inlet
6300                   Panama Bay 8ºN, 79ºW
6301    Below the English fort, Trincomalee
Name: location, Length: 6302, dtype: object

In [61]:
shark.location.unique()

array(['Oceanside, San Diego County', 'St. Simon Island, Glynn County',
       'Habush, Oahu', ..., 'Ocracoke Inlet', 'Panama Bay 8ºN, 79ºW',
       'Below the English fort, Trincomalee'], dtype=object)

In [62]:
repetidos(shark, 'location')

1

In [63]:
shark['location'].apply(type).value_counts()

location
<class 'str'>    6302
Name: count, dtype: int64

---

# Activity

In [64]:
shark.activity.value_counts()

activity
Surfing                                   971
Swimming                                  869
unknown                                   544
Fishing                                   431
Spearfishing                              333
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: count, Length: 1533, dtype: int64

In [65]:
shark.activity.str.strip()

0           Paddling
1           Standing
2            Surfing
3            Surfing
4        Free diving
            ...
6297          Diving
6298    Pearl diving
6299        Swimming
6300         unknown
6301        Swimming
Name: activity, Length: 6302, dtype: object

In [66]:
shark.activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [67]:
repetidos(shark, 'activity')  # Revisa la cantidad de tipos de datos diferentes que hay

1

In [68]:
shark['activity'].apply(type).value_counts()

activity
<class 'str'>    6302
Name: count, dtype: int64

---

# Sex

In [69]:
shark.sex[:10]

0    F
1    F
2    M
3    M
4    M
5    M
6    M
7    M
8    M
9    M
Name: sex, dtype: object

In [70]:
shark.sex.str.strip()

0       F
1       F
2       M
3       M
4       M
       ..
6297    M
6298    M
6299    M
6300    M
6301    M
Name: sex, Length: 6302, dtype: object

In [71]:
shark.sex.unique()

array(['F', 'M', 'u', 'M ', 'lli', 'N', '.'], dtype=object)

In [72]:
shark.sex.value_counts()

sex
M      5094
F       637
u       565
M         2
N         2
lli       1
.         1
Name: count, dtype: int64

In [73]:
shark.loc[shark['sex'] == '.', 'sex'] = 'u'
shark.loc[shark['sex'] == 'lli', 'sex'] = 'u'
shark.loc[shark['sex'] == 'N', 'sex'] = 'u'

In [74]:
shark['sex'].unique().tolist()

['F', 'M', 'u', 'M ']

In [75]:
shark.loc[shark['sex'] == 'M ', 'sex'] = 'M'

In [76]:
shark.sex.value_counts()

sex
M    5096
F     637
u     569
Name: count, dtype: int64

In [77]:
repetidos(shark, 'sex')

1

In [78]:
shark['sex'].apply(type).value_counts()

sex
<class 'str'>    6302
Name: count, dtype: int64

---

# Age

In [79]:
shark.age[:10]

0    57
1    11
2    48
3    -1
4    -1
5    -1
6    18
7    52
8    15
9    12
Name: age, dtype: object

In [81]:
shark.age.unique()

array(['57', '11', '48', '-1', '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18months', '53',
       '30s', '50s', 'teen', '77', '74', '28&26', '5', '86', '18or20',
       '12or13', '46&34', '28,23&30', 'Teens', '36&26', '8or10', '84',
       '\xa0', nan, '30or36', '6½', '21&?', '75', '33or37', 'mid-30s',
       '23&20', '7&31', '20?', "60's", '32&30', '16to18', '87', '67',
       'Elderly', 'mid-20s', 'Ca.33', '21or26', '>50', '18to22', 'adult',
       '9&12', '?&19', '9months', '25to35', '23&26', '1', '(adult)',
       '33&37', '25or28', '37,67,35,27,?&27', '21,34,24&35', '30&32',
       '50&30', '17&35', 'X', '"middle-age"', '13or18', '34&19', '33&26',
       '2to3months', 'MAKELINEGREEN', '81', '"young"', '7or8', '78',
       '17&16', 'F', 'Both11', '9or10', 'young', '36&23', 'A.M.', '?&14',
       '10or12', '31or33', '2½', '13or14'], dtype=object)

In [82]:
dos_num_seguidos(shark, 'age')

array(['57', '11', '48', '-1', '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '13', '42', '3', '8', '50',
       '16', '82', '73', '68', '51', '39', '58', 'Teen', '47', '61', '65',
       '36', '66', '43', '9', '72', '59', '6', '27', '64', '23', '71',
       '44', '62', '63', '70', '53', 'teen', '77', '74', '5', '86',
       'Teens', '84', '\xa0', nan, '6½', '75', '87', '67', 'Elderly',
       'adult', '9months', '1', '(adult)', 'X', '"middle-age"',
       '2to3months', 'MAKELINEGREEN', '81', '"young"', '7or8', '78', 'F',
       'young', 'A.M.', '2½'], dtype=object)

In [83]:
shark.age.str.strip()

0       57
1       11
2       48
3       -1
4       -1
        ..
6297    -1
6298    -1
6299    -1
6300    -1
6301    15
Name: age, Length: 6302, dtype: object

In [84]:
faltan = []
años = [str(i) for i in range(-1, 100)]
for valor in shark['age']:
    if valor not in años:
        faltan.append(valor)
faltan_unicos = list(set(faltan))
faltan_unicos

[nan,
 '(adult)',
 '2to3months',
 'X',
 'Teen',
 'Teens',
 'MAKELINEGREEN',
 'Elderly',
 '2½',
 '6½',
 'F',
 '\xa0',
 '7or8',
 '"young"',
 'A.M.',
 'teen',
 'adult',
 'young',
 '"middle-age"',
 '9months']

In [85]:
len(faltan_unicos)

20

Como no son muchos elementos voy a dividrlos en 4 grupos:
1.- Meses: 1
2.- Jovenes: 13
3.- adultos: 30
4.- anciano: 80

In [86]:
meses = ['2to3months', '9months']
joven = ['young', 'teen', 'Teen', '"young"']
adulto = ['adult', '"middle-age"', '(adult)']
anciano = ['MAKELINEGREEN', 'Elderly']

In [87]:
for i, valor in enumerate(shark['age']):
    if valor in meses:
        shark.at[i, 'age'] = 1
    elif valor in joven:
        shark.at[i, 'age'] = 13
    elif valor in adulto:
        shark.at[i, 'age'] = 30
    elif valor in anciano:
        shark.at[i, 'age'] = 80

shark.age.unique()

array(['57', '11', '48', '-1', '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '13', '42', '3', '8', '50',
       '16', '82', '73', '68', '51', '39', '58', 13, '47', '61', '65',
       '36', '66', '43', '9', '72', '59', '6', '27', '64', '23', '71',
       '44', '62', '63', '70', '53', '77', '74', '5', '86', 'Teens', '84',
       '\xa0', nan, '6½', '75', '87', '67', 80, 30, 1, '1', 'X', '81',
       '7or8', '78', 'F', 'A.M.', '2½'], dtype=object)

In [88]:
faltan = []
años = [str(i) for i in range(-1, 100)]
for valor in shark['age']:
    if valor not in años:
        faltan.append(valor)
faltan_unicos = list(set(faltan))
faltan_unicos

[1, '7or8', nan, 'X', 13, 80, 'A.M.', 'Teens', '2½', '\xa0', '6½', 30, 'F']

In [89]:
shark.loc[shark['age'] == 'X', 'age'] = '0'
shark.loc[shark['age'] == '6½', 'age'] = '6'
shark.loc[shark['age'] == 'F', 'age'] = '0'
shark.loc[shark['age'] == '7or8', 'age'] = '7'
shark.loc[shark['age'] == 'A.M.', 'age'] = '0'
shark.loc[shark['age'] == '\xa0', 'age'] = '0'
shark.loc[shark['age'] == 'Teens', 'age'] = '13'
shark.loc[shark['age'] == '2½', 'age'] = '2'

shark['age'].fillna('0', inplace=True)

faltan = []
años = [str(i) for i in range(-1, 100)]
for valor in shark['age']:
    if valor not in años:
        faltan.append(valor)
faltan_unicos = list(set(faltan))
faltan_unicos

[80, 1, 13, 30]

In [90]:
for valor in faltan_unicos:
    print(valor, type(valor))

80 <class 'int'>
1 <class 'int'>
13 <class 'int'>
30 <class 'int'>

In [91]:
shark.age.unique()

array(['57', '11', '48', '-1', '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '13', '42', '3', '8', '50',
       '16', '82', '73', '68', '51', '39', '58', 13, '47', '61', '65',
       '36', '66', '43', '9', '72', '59', '6', '27', '64', '23', '71',
       '44', '62', '63', '70', '53', '77', '74', '5', '86', '84', '0',
       '75', '87', '67', 80, 30, 1, '1', '81', '78', '2'], dtype=object)

In [92]:
shark['age'] = shark['age'].astype('int16')

In [93]:
repetidos(shark, 'age')

1

In [94]:
shark['age'].apply(type).value_counts()

age
<class 'int'>    6302
Name: count, dtype: int64

---

# Injury

In [95]:
shark.injury[:10]

0    No injury to occupant, outrigger canoe and pad...
1                           Minor injury to left thigh
2         Injury to left lower leg from surfboard skeg
3                            Minor injury to lower leg
4    Lacerations to leg & hand shark PROVOKED INCIDENT
5                              No injury, board bitten
6                                                FATAL
7              Minor injury to foot. PROVOKED INCIDENT
8                                Lower left leg bitten
9                                 Minor injury to foot
Name: injury, dtype: object

In [96]:
shark.injury.str.strip()

0       No injury to occupant, outrigger canoe and pad...
1                              Minor injury to left thigh
2            Injury to left lower leg from surfboard skeg
3                               Minor injury to lower leg
4       Lacerations to leg & hand shark PROVOKED INCIDENT
                              ...
6297                                                FATAL
6298                                                FATAL
6299                                                FATAL
6300                                                FATAL
6301    FATAL. "Shark bit him in half, carrying away t...
Name: injury, Length: 6302, dtype: object

In [97]:
repetidos(shark, 'injury')

1

In [98]:
shark.injury.nunique()

3737

In [99]:
shark['injury'].apply(type).value_counts()

injury
<class 'str'>    6302
Name: count, dtype: int64

Al ser datos str que indican el nivel de daños causados por el ataque no voy a trabajar más con ellos por el momento, más adelante revisaré a ver si puedo obtener más información.

---

# Fatal

In [100]:
shark.fatal[:10]

0    N
1    N
2    N
3    N
4    N
5    N
6    Y
7    N
8    N
9    N
Name: fatal, dtype: object

In [101]:
shark.fatal.str.strip()

0       N
1       N
2       N
3       N
4       N
       ..
6297    Y
6298    Y
6299    Y
6300    Y
6301    Y
Name: fatal, Length: 6302, dtype: object

In [102]:
shark.fatal.unique()

array(['N', 'Y', 'U', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [103]:
shark.loc[shark['fatal'] == '2017', ['year']]

     year
786  2012

En este caso entiendo que le causó la muerte las heridas sufridas por el ataque de 2012 en el año 2017

In [104]:
shark.loc[shark['fatal'] == 'M', ['sex']]

    sex
285   M

In [105]:
reemplazos = {'M': 'U', 'UNKNOWN': 'U', '2017': 'Y', ' N': 'N', 'N ': 'N', 'y': 'Y'}
shark['fatal'] = shark['fatal'].replace(reemplazos)

In [106]:
shark.fatal.unique()

array(['N', 'Y', 'U'], dtype=object)

In [107]:
shark['fatal'].apply(type).value_counts()

fatal
<class 'str'>    6302
Name: count, dtype: int64

---

# Investigator

In [108]:
shark.investigator[:10]

0                    R. Collier, GSAF
1      K.McMurray, TrackingSharks.com
2      K.McMurray, TrackingSharks.com
3                      B. Myatt, GSAF
4                           A .Kipper
5           Daily Telegraph, 6/4/2018
6      Diario de Pernambuco, 6/4/2018
7     K. McMurray, TrackingSharks.com
8      K.McMurray, TrackingSharks.com
9    K. McMurray, Tracking Sharks.com
Name: investigator, dtype: object

In [109]:
shark.investigator.str.strip()

0                            R. Collier, GSAF
1              K.McMurray, TrackingSharks.com
2              K.McMurray, TrackingSharks.com
3                              B. Myatt, GSAF
4                                   A .Kipper
                        ...
6297         H. Taunton; N. Bartlett,  p. 234
6298    H. Taunton; N. Bartlett,  pp. 233-234
6299     F. Schwartz, p.23; C. Creswell, GSAF
6300                      The Sun, 10/20/1938
6301                               S.W. Baker
Name: investigator, Length: 6302, dtype: object

In [110]:
shark.investigator.value_counts()

investigator
C. Moore, GSAF                                                    105
C. Creswell, GSAF                                                  92
S. Petersohn, GSAF                                                 82
R. Collier                                                         55
T. Peake, GSAF                                                     48
                                                                 ...
Deseret News, 2/19/1996; European Stars and Stripes, 2/20/1996      1
Daily Telegraph, 2/29/1996, p.5; H. Edwards, pp.31-32               1
J. Royle, et. al. (1997)                                            1
Advertiser, 3/6/1996, p.9; Daily Mail (London), 3/9/1996            1
S.W. Baker                                                          1
Name: count, Length: 4970, dtype: int64

In [111]:
shark['investigator'].apply(type).value_counts()

investigator
<class 'str'>    6302
Name: count, dtype: int64

Como todos los datos son de tipo str no hay datos inconsistentes, por lo que los analizaré en la parte 4 más en profundidad

---

# Pdf

In [112]:
shark.pdf[:10]

0             2018.06.25-Wolfe.pdf
1           2018.06.18-McNeely.pdf
2            2018.06.09-Denges.pdf
3         2018.06.08-Arrawarra.pdf
4             2018.06.04-Ramos.pdf
5        2018.06.03.b-FlatRock.pdf
6         2018.06.03.a-daSilva.pdf
7             2018.05.27-Ponce.pdf
8            2018.05.26.b-High.pdf
9    2018.05.26.a-DaytonaBeach.pdf
Name: pdf, dtype: object

In [113]:
shark.pdf.str.strip()

0                 2018.06.25-Wolfe.pdf
1               2018.06.18-McNeely.pdf
2                2018.06.09-Denges.pdf
3             2018.06.08-Arrawarra.pdf
4                 2018.06.04-Ramos.pdf
                     ...
6297            ND-0005-RoebuckBay.pdf
6298                 ND-0004-Ahmun.pdf
6299    ND-0003-Ocracoke_1900-1905.pdf
6300        ND-0002-JulesPatterson.pdf
6301                ND-0001-Ceylon.pdf
Name: pdf, Length: 6302, dtype: object

In [114]:
shark['pdf'].value_counts()

pdf
1923.00.00.a-NJ fisherman.pdf      2
1935.06.05.R-SolomonIslands.pdf    2
1916.12.08.a-b-German.pdf          2
1907.10.16.R-HongKong.pdf          2
1921.11.27.a-b-Jack.pdf            2
                                  ..
1999.10.30.a-TroyJesse.pdf         1
1999.10.30.b-Dolsky.pdf            1
1999.11.00.a-Morson.pdf            1
1999.11.00.b-Bayo.pdf              1
ND-0001-Ceylon.pdf                 1
Name: count, Length: 6291, dtype: int64

In [115]:
repetidos(shark, 'pdf')

1

In [116]:
shark['pdf'].apply(type).value_counts()

pdf
<class 'str'>    6302
Name: count, dtype: int64

---

# href

In [117]:
shark.href[:10]

0    http://sharkattackfile.net/spreadsheets/pdf_di...
1    http://sharkattackfile.net/spreadsheets/pdf_di...
2    http://sharkattackfile.net/spreadsheets/pdf_di...
3    http://sharkattackfile.net/spreadsheets/pdf_di...
4    http://sharkattackfile.net/spreadsheets/pdf_di...
5    http://sharkattackfile.net/spreadsheets/pdf_di...
6    http://sharkattackfile.net/spreadsheets/pdf_di...
7    http://sharkattackfile.net/spreadsheets/pdf_di...
8    http://sharkattackfile.net/spreadsheets/pdf_di...
9    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href, dtype: object

In [118]:
shark.href.str.strip()

0       http://sharkattackfile.net/spreadsheets/pdf_di...
1       http://sharkattackfile.net/spreadsheets/pdf_di...
2       http://sharkattackfile.net/spreadsheets/pdf_di...
3       http://sharkattackfile.net/spreadsheets/pdf_di...
4       http://sharkattackfile.net/spreadsheets/pdf_di...
                              ...
6297    http://sharkattackfile.net/spreadsheets/pdf_di...
6298    http://sharkattackfile.net/spreadsheets/pdf_di...
6299    http://sharkattackfile.net/spreadsheets/pdf_di...
6300    http://sharkattackfile.net/spreadsheets/pdf_di...
6301    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href, Length: 6302, dtype: object

In [119]:
shark.href.value_counts()

href
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf            2
                                                                                        ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.10.30.a-TroyJesse.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.10.30.b-Dolsky.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.11.00.a-Morson.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.11.00.b-Bayo.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                  1
Name: count, Length: 6291, dtype: int64

In [120]:
repetidos(shark, 'href')

1

In [121]:
shark['href'].apply(type).value_counts()

href
<class 'str'>    6302
Name: count, dtype: int64

---

# href1

In [122]:
shark.href1[:10]

0    http://sharkattackfile.net/spreadsheets/pdf_di...
1    http://sharkattackfile.net/spreadsheets/pdf_di...
2    http://sharkattackfile.net/spreadsheets/pdf_di...
3    http://sharkattackfile.net/spreadsheets/pdf_di...
4    http://sharkattackfile.net/spreadsheets/pdf_di...
5    http://sharkattackfile.net/spreadsheets/pdf_di...
6    http://sharkattackfile.net/spreadsheets/pdf_di...
7    http://sharkattackfile.net/spreadsheets/pdf_di...
8    http://sharkattackfile.net/spreadsheets/pdf_di...
9    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href1, dtype: object

In [123]:
shark.href1.str.strip()

0       http://sharkattackfile.net/spreadsheets/pdf_di...
1       http://sharkattackfile.net/spreadsheets/pdf_di...
2       http://sharkattackfile.net/spreadsheets/pdf_di...
3       http://sharkattackfile.net/spreadsheets/pdf_di...
4       http://sharkattackfile.net/spreadsheets/pdf_di...
                              ...
6297    http://sharkattackfile.net/spreadsheets/pdf_di...
6298    http://sharkattackfile.net/spreadsheets/pdf_di...
6299    http://sharkattackfile.net/spreadsheets/pdf_di...
6300    http://sharkattackfile.net/spreadsheets/pdf_di...
6301    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href1, Length: 6302, dtype: object

In [124]:
shark.href1.value_counts()

href1
http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                 4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf          3
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf        2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf             2
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf    2
                                                                                          ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.10-Warnock.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.16-Ferguson.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.18-Wallersheim.pdf           1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.24-boat.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                    1
Name: count, Length: 6285, dtype: int64

In [125]:
repetidos(shark, 'href1')

1

In [126]:
shark['href1'].apply(type).value_counts()

href1
<class 'str'>    6302
Name: count, dtype: int64

---

# Casenumber1, Casenumber2

In [127]:
shark['casenumber1'].apply(type).value_counts(), shark['casenumber2'].apply(type).value_counts()

(casenumber1
 <class 'str'>    6302
 Name: count, dtype: int64,
 casenumber2
 <class 'str'>    6302
 Name: count, dtype: int64)

---

# originalorder

In [128]:
shark.originalorder[:10]

0    6303.0
1    6302.0
2    6301.0
3    6300.0
4    6299.0
5    6298.0
6    6297.0
7    6296.0
8    6295.0
9    6294.0
Name: originalorder, dtype: float64

In [130]:
shark['originalorder'] = shark.originalorder.astype('int16')

In [131]:
shark['originalorder'].apply(type).value_counts()

originalorder
<class 'int'>    6302
Name: count, dtype: int64

---

# Unnamed, Unnamed1

In [132]:
shark['unnamed'].apply(type).value_counts(), shark['unnamed1'].apply(type).value_counts()

(unnamed
 <class 'int'>    6302
 Name: count, dtype: int64,
 unnamed1
 <class 'int'>    6302
 Name: count, dtype: int64)

---

# Time

In [133]:
shark.time[:10]

0    18:00
1    14:00
2    07:45
3    25:00
4    25:00
5    25:00
6    18:00
7    25:00
8    17:00
9    14:00
Name: time, dtype: object

In [134]:
shark['time'].apply(type).value_counts()

time
<class 'str'>    6302
Name: count, dtype: int64

In [135]:
shark.time.value_counts()

time
25:00    3531
18:00     301
09:00     190
11:00     131
12:00     113
         ...
09:20       1
10:16       1
10:27       1
15:44       1
01:50       1
Name: count, Length: 247, dtype: int64

In [136]:
shark['hora'] = shark['time'].str.split(':').str[0].astype(str)
shark['minutos'] = shark['time'].str.split(':').str[1].astype(str)

In [137]:
shark.hora[:10]

0    18
1    14
2    07
3    25
4    25
5    25
6    18
7    25
8    17
9    14
Name: hora, dtype: object

In [138]:
shark.minutos[:10]

0    00
1    00
2    45
3    00
4    00
5    00
6    00
7    00
8    00
9    00
Name: minutos, dtype: object

In [139]:
shark['datetime'] = pd.to_datetime(shark['hora'].astype(str) + ':' + shark['minutos'].astype(str), format='%H:%M', errors='coerce').dt.time

In [140]:
shark.datetime[:10]

0    18:00:00
1    14:00:00
2    07:45:00
3         NaT
4         NaT
5         NaT
6    18:00:00
7         NaT
8    17:00:00
9    14:00:00
Name: datetime, dtype: object

In [141]:
shark['datetime'].fillna(pd.to_datetime('00:01', format='%H:%M').time(), inplace=True)

In [142]:
shark.datetime[:10]

0    18:00:00
1    14:00:00
2    07:45:00
3    00:01:00
4    00:01:00
5    00:01:00
6    18:00:00
7    00:01:00
8    17:00:00
9    14:00:00
Name: datetime, dtype: object

In [143]:
shark['datetime'].apply(type).value_counts()

datetime
<class 'datetime.time'>    6302
Name: count, dtype: int64

In [144]:
shark['time'] = shark['datetime']
shark.drop('datetime', axis=1, inplace=True)

In [145]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6302 entries, 0 to 6301
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   casenumber     6302 non-null   object
 1   date           6302 non-null   object
 2   year           6302 non-null   int16
 3   type           6302 non-null   object
 4   country        6302 non-null   object
 5   area           6302 non-null   object
 6   location       6302 non-null   object
 7   activity       6302 non-null   object
 8   name           6302 non-null   object
 9   sex            6302 non-null   object
 10  age            6302 non-null   int16
 11  injury         6302 non-null   object
 12  fatal          6302 non-null   object
 13  species        6302 non-null   object
 14  investigator   6302 non-null   object
 15  pdf            6302 non-null   object
 16  href           6302 non-null   object
 17  href1          6302 non-null   object
 18  casenumber1    6302 non-null   object
 19  casenumber2    6302 non-null   object
 20  originalorder  6302 non-null   int16
 21  unnamed        6302 non-null   int64
 22  unnamed1       6302 non-null   int64
 23  time           6302 non-null   object
 24  date1          6295 non-null   object
 25  hora           6302 non-null   object
 26  minutos        6302 non-null   object
dtypes: int16(3), int64(2), object(22)
memory usage: 1.2+ MB

In [146]:
shark.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,species,investigator,pdf,href,href1,casenumber1,casenumber2,originalorder,unnamed,unnamed1,time,date1,hora,minutos
0,2018.06.25,25-Jun-2018,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,0,0,18:00:00,25-Jun-2018,18,00
1,2018.06.18,18-Jun-2018,2018,Unprovoked,usa,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,0,0,14:00:00,18-Jun-2018,14,00
2,2018.06.09,09-Jun-2018,2018,Invalid,usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,0,0,07:45:00,09-Jun-2018,07,45
3,2018.06.08,08-Jun-2018,2018,Unprovoked,australia,New South Wales,Arrawarra Headland,Surfing,male,M,-1,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,0,0,00:01:00,08-Jun-2018,25,00
4,2018.06.04,04-Jun-2018,2018,Provoked,mexico,Colima,La Ticla,Free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,0,0,00:01:00,04-Jun-2018,25,00

Llegados a este punto entiendo que los valores ya son consistentes y por lo tanto, el siguiente paso es arreglar los datos para poder usarlos en los análisis. Pero esto lo realizo en la parte 4.

Para podeer acceder a los datos a partir de este punto exporto el csv

In [147]:
shark.to_csv('../data/sharkattack_parte3.csv', index=False)

[SharkAttack - Parte 4 (Arreglo de datos)](./SharkAttack-Parte4.ipynb)