### SharkAttack - Parte 3

# Valores Inconsistentes

In [1]:
import pandas as pd
import numpy as np
import re
import zipfile
import pylab as plt    
import seaborn as sns
import sys
from jupyterthemes import jtplot
jtplot.style()

from functions import *

pd.set_option('display.max_columns', None)  # me muestre todas las columnas

In [2]:
shark=pd.read_csv('../data/sharkattack_parte2.csv')

In [3]:
shark.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,species,investigator,pdf,href,href1,casenumber1,casenumber2,originalorder,unnamed,unnamed1,time
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,0,0,18:00
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,0,0,14:00
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,0,0,07:45
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,-1,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0,0,25:00
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0,0,25:00

In [4]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   casenumber     6302 non-null   object
 1   date           6302 non-null   object
 2   year           6302 non-null   float64
 3   type           6302 non-null   object
 4   country        6302 non-null   object
 5   area           6302 non-null   object
 6   location       6302 non-null   object
 7   activity       6302 non-null   object
 8   name           6302 non-null   object
 9   sex            6302 non-null   object
 10  age            6299 non-null   object
 11  injury         6302 non-null   object
 12  fatal          6302 non-null   object
 13  species        6302 non-null   object
 14  investigator   6302 non-null   object
 15  pdf            6302 non-null   object
 16  href           6302 non-null   object
 17  href1          6302 non-null   object
 18  casenumber1    6302 non-null   object
 19  casenumber2    6302 non-null   object
 20  originalorder  6302 non-null   float64
 21  unnamed        6302 non-null   int64
 22  unnamed1       6302 non-null   int64
 23  time           6302 non-null   object
dtypes: float64(2), int64(2), object(20)
memory usage: 1.2+ MB

# Casenumber

In [5]:
shark['casenumber'][:20]

0       2018.06.25
1       2018.06.18
2       2018.06.09
3       2018.06.08
4       2018.06.04
5     2018.06.03.b
6     2018.06.03.a
7       2018.05.27
8     2018.05.26.b
9     2018.05.26.a
10      2018.05.24
11      2018.05.21
12    2018.05.13.b
13    2018.05.13.a
14      2018.05.00
15      2018.05.12
16      2018.05.09
17    2018.04.30.R
18    2018.04.28.b
19    2018.04.28.a
Name: casenumber, dtype: object

In [6]:
shark.casenumber.unique()

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0003',
       'ND.0002', 'ND.0001'], dtype=object)

In [7]:
repetidos(shark, 'casenumber')

1

La mayoría son fechas que están en formato Y/M/D y algunos tienen un .* a la derecha que no aporta nada.

En este caso como no deja de ser un elemento de identificación, no voy a trabajar más en el de momento y lo voy a dejar con este formato.

---

# Date

In [8]:
shark.date[:20]

0              25-Jun-2018
1              18-Jun-2018
2              09-Jun-2018
3              08-Jun-2018
4              04-Jun-2018
5              03-Jun-2018
6              03-Jun-2018
7              27-May-2018
8              26-May-2018
9              26-May-2018
10             24-May-2018
11             21-May-2018
12             13-May-2018
13             13-May-2018
14                May 2018
15             12-May-2018
16             09-May-2018
17    Reported 30-Apr-2018
18             28-Apr-2018
19             28-Apr-2018
Name: date, dtype: object

In [9]:
shark.date.unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

Esta columna es relevante y la necesito en formato date. Por lo que realizo las operaciones necesarias

1.- Los valores que tengan formato xx-Mes-xxxx los paso a una nueva columna llamada date1 y los sustituyo por un valor proxy de -1
2.- Si tiene la estructura Mes-xxxx establezco que es el día 01 y hago lo mismo que en el paso anterior

el resto de valores los miro más adelante

In [10]:
patron = r'\d{2}-\b\w{3}\b-\d{4}'
for i, valor in enumerate(shark['date']):
    fecha = re.search(patron, valor)
    if fecha is not None:
        shark.at[i, 'date1'] = fecha.group()
        shark.at[i, 'date'] = 0

In [11]:
shark.date[:15]

0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14    May 2018
Name: date, dtype: object

In [12]:
patron = r'\b\w{3}\b-\d{4}'
dia = '01-'
for i, valor in enumerate(shark['date']):
    fecha = re.search(patron, str(valor))
    if fecha is not None:
        fecha = dia + fecha.group(0)
        shark.at[i, 'date1'] = fecha
        shark.at[i, 'date'] = '0'

In [13]:
shark.date.value_counts()

date
0                5349
0                 370
1957               11
1942                9
1956                8
                 ...
1928                1
Ca. 1929            1
Reported 1929       1
1932                1
1845-1853           1
Name: count, Length: 376, dtype: int64

In [14]:
patron = r'\d{4}'
for i, valor in enumerate(shark['date']):
    fecha = re.search(patron, str(valor))
    if fecha is not None:
        shark.at[i, 'date1'] = fecha.group()
        shark.at[i, 'date'] = 0

In [15]:
valores_unicos = shark.loc[(shark['date'] != 0) & (shark['date'] != '0'), 'date'].unique()
valores_unicos

array(['22-Jul-144', 'Woirld War II', 'Reported 26-Sep-t937',
       'Circa 500 A.D.', '77  A.D.', 'Ca. 5 A.D.', 'Ca. 214 B.C.',
       'Ca. 336.B.C..', '493 B.C.', 'Ca. 725 B.C.', 'No date',
       '"Before the war"', 'World War II'], dtype=object)

In [16]:
shark.loc[shark['date'] == '"Before the war"', 'date1'] = '01-Sep-1939'
shark.loc[shark['date'] == '"Before the war"', 'date'] = '0'

In [17]:
shark.loc[shark['date'] == 'World War II', 'date1'] = '02-Sep-1945'
shark.loc[shark['date'] == 'World War II', 'date'] = '0'

In [18]:
shark.loc[shark['date'] == 'Woirld War II', 'date1'] = '02-Sep-1945'
shark.loc[shark['date'] == 'Woirld War II', 'date'] = '0'

In [19]:
shark.loc[shark['date'] == 'Reported 26-Sep-t937', 'date1'] = '26-Sep-1937'
shark.loc[shark['date'] == 'Reported 26-Sep-t937', 'date'] = '0'

In [20]:
shark.loc[shark['date'] == 'No date', 'date1'] = '01-Ene-1900'
shark.loc[shark['date'] == 'No date', 'date'] = '0'

In [21]:
shark.loc[shark['date'] == '22-Jul-144', 'date1'] = '22-Jul-1944'
shark.loc[shark['date'] == '22-Jul-144', 'date'] = '0'

In [22]:
valores_unicos = shark.loc[(shark['date'] != 0) & (shark['date'] != '0'), 'date'].unique()
valores_unicos

array(['Circa 500 A.D.', '77  A.D.', 'Ca. 5 A.D.', 'Ca. 214 B.C.',
       'Ca. 336.B.C..', '493 B.C.', 'Ca. 725 B.C.'], dtype=object)

In [23]:
valores_unicos.size

7

Como son solo 7 valores no lo considero representativo y los igualo a 01-Ene-1900

In [24]:
shark['date'] = shark['date1']

In [25]:
shark.date.isna().sum()

7

In [26]:
shark.date.fillna('01-Ene-1900', inplace=True)

In [27]:
repetidos(shark, 'date')

1

---

# Year

In [28]:
shark.year[:20]

0     2018.0
1     2018.0
2     2018.0
3     2018.0
4     2018.0
5     2018.0
6     2018.0
7     2018.0
8     2018.0
9     2018.0
10    2018.0
11    2018.0
12    2018.0
13    2018.0
14    2018.0
15    2018.0
16    2018.0
17    2018.0
18    2018.0
19    2018.0
Name: year, dtype: float64

In [29]:
shark['year'] = shark['year'].astype('int16')

In [30]:
shark.year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815, 1812,
       1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800, 1797,
       1792, 1791, 1788, 1787, 1786, 1785, 1784, 1783, 1780, 1779, 1776,
       1771, 1767, 1764, 1758, 1753, 1751, 1749, 1755, 1748, 1742, 1738,
       1733, 1723, 1721, 1703, 1700, 1642, 1638, 1637, 1617, 1595, 1580,
       1555, 1554, 1543,  500,   77,    5,    0], dtype=int16)

In [31]:
repetidos(shark, 'year')

1

---

# Type

In [32]:
shark.type[:20]

0          Boating
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
5       Unprovoked
6       Unprovoked
7       Unprovoked
8       Unprovoked
9       Unprovoked
10        Provoked
11      Unprovoked
12      Unprovoked
13         Invalid
14        Provoked
15      Unprovoked
16    Questionable
17      Unprovoked
18      Unprovoked
19      Unprovoked
Name: type, dtype: object

In [33]:
shark.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'unknown', 'Boat', 'Boatomg'], dtype=object)

In [34]:
shark.loc[shark['type'] == 'Boatomg', 'type'] = 'Boat'

In [35]:
shark.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'unknown', 'Boat'], dtype=object)

In [36]:
repetidos(shark, 'type')

1

---

# Country

In [37]:
shark.country[:20]

0              USA
1              USA
2              USA
3        AUSTRALIA
4           MEXICO
5        AUSTRALIA
6           BRAZIL
7              USA
8              USA
9              USA
10       AUSTRALIA
11             USA
12             USA
13         ENGLAND
14       AUSTRALIA
15    SOUTH AFRICA
16       AUSTRALIA
17        THAILAND
18      COSTA RICA
19       AUSTRALIA
Name: country, dtype: object

In [38]:
shark.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'unknown', 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [39]:
shark.country = [e.lower() for e in shark.country]

In [40]:
shark.country.unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'unknown', 'cuba', 'mauritius',
       'new zealand', 'spain', 'samoa', 'solomon islands', 'japan',
       'egypt', 'st helena, british overseas territory', 'comoros',
       'reunion', 'french polynesia', 'united kingdom',
       'united arab emirates', 'philippines', 'indonesia', 'china',
       'columbia', 'cape verde', 'fiji', 'dominican republic',
       'cayman islands', 'aruba', 'mozambique', 'puerto rico', 'italy',
       'atlantic ocean', 'greece', 'st. martin', 'france',
       'papua new guinea', 'trinidad & tobago', 'kiribati', 'israel',
       'diego garcia', 'taiwan', 'jamaica', 'palestinian territories',
       'guam', 'seychelles', 'belize', 'nigeria', 'tonga', 'scotland',
       'canada', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
       'grand cayman', 'liberia', 'vanuatu', 'mexico ', 'honduras',
       'venezuela', 'sri lanka', ' tonga', 'uruguay', 'india',
       'micronesia', 'caribbean sea', 'okinawa', 'tanzania',
       'marshall islands', 'egypt / israel', 'northern arabian sea',
       'hong kong', 'el salvador', 'angola', 'bermuda', 'montenegro',
       'iran', 'tunisia', 'namibia', 'north atlantic ocean', 'portugal',
       'south china sea', 'bangladesh', 'palau', 'western samoa',
       'pacific ocean ', 'british isles', 'grenada', 'iraq', 'turkey',
       'singapore', 'new britain', 'sudan', 'johnston island',
       'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
       'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'monaco', 'guyana', 'haiti', 'san domingo', 'ireland', 'kuwait',
       'yemen ', 'reunion island', 'falkland islands', 'crete', 'cyprus',
       'egypt ', 'west indies', 'burma', 'lebanon', 'paraguay',
       'british new guinea', 'ceylon', 'ocean', 'georgia', 'syria',
       'tuvalu', 'indian ocean?', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'tobago', 'peru',
       'africa', 'algeria', 'coast of africa', 'tasman sea', 'ghana',
       'greenland', 'mediterranean sea', 'sweden', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea',
       'red sea?', 'asia?', 'ceylon (sri lanka)'], dtype=object)

In [41]:
repetidos(shark, 'country')

1

Los datos parecen consistentes, por lo que los voy a dejar así, en caso de necesitarlo más adelante profundizaré más.

---

# Area

In [42]:
shark.area[:20]

0                California
1                   Georgia
2                    Hawaii
3           New South Wales
4                    Colima
5           New South Wales
6                Pernambuco
7                   Florida
8                   Florida
9                   Florida
10               Queensland
11           South Carolina
12           South Carolina
13                 Cornwall
14        Westerm Australia
15    Eastern Cape Province
16          New South Wales
17                  Hua Hin
18             Cocos Island
19        Western Australia
Name: area, dtype: object

In [43]:
shark.area.unique()

array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
       'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
       'Cornwall', 'Westerm Australia', 'Eastern Cape Province',
       'Hua Hin', 'Cocos Island', 'Western Australia',
       'Alifu Alifu Atoll', 'Western Cape Province', 'New Providence',
       'Alagoas', 'unknown', 'Victoria', 'KwaZulu-Natal',
       'Boi Island, Victoria', 'Galapagos Islands', 'Fernando de Noronha',
       'Sepang', 'Holquin Province', 'Pamplemousses ', 'South Australia',
       'North Island', 'New York', 'Canary Islands', ' Upolu Island',
       'Shizuoka Prefecture', 'Texas', 'Castellón', 'Massachusetts',
       'Red Sea Protectorate', 'New Providence District',
       '40 miles off Grand Bahama Island', 'Ascension Island',
       'New Jersey', 'Majorca', 'Washington', 'Tabasco', 'Anjouan',
       'Ibiza Island', 'Marquesas', 'South Devon', 'New Providence ',
       'Sharjah, ', 'Baja California Sur', 'Saint-Leu', 'South Island',
       'Luzon Island', 'Great Exuma', 'Saint-Andre', 'Bimini', 'Bali',
       'Tuamotos', 'Oregon', 'North Province', 'New Providence Island',
       'Alicante Province', 'Hong Kong', 'Kochi Prefecture', 'Tasmania',
       'Abaco Islands', 'Alabama', 'North Carolina', 'Isla Provedencia',
       'Suez', 'Grand Terre', 'Boa Vista Island', 'Vanua Levu',
       'Santa Catarina State', 'South Province', 'Altagracia Province',
       'Grand Cayman', 'Balneário Camboriú', 'Fujairah Emirate',
       'Grand Canary Island', 'Inhambane Province', 'Phuket', 'Alicante',
       'Guanacaste', 'Bora Bora', 'Grand Bahama Island', 'Le Port',
       'Rangiroa', 'Saint-Gilles-les-Bains', 'Sardinia', 'Sinaloa',
       'Central Tuamotu', 'd’Étang-Salé', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Moorea', 'Catalonia',
       'Maryland', 'Louisiana', 'West End', 'Delaware',
       'Atsumi peninsula', 'Palmyra Atoll', 'Wallis and Futuna',
       'Baie de Sainte-Marie', 'Society Islands', 'Trinidad',
       'Okinawa Prefecture', '740 miles SE of Tarawa Atoll',
       'Southern District', 'Bay of Biscay', 'Quintana Roo',
       'Exuma Islands', 'Saint-Paul', 'Taitung ', 'Kingston Parish',
       'Santa Cruz Island', 'Saint-Gilles', 'Tuamotus', 'Eleuthera',
       'St. Catherine', 'Palawan', 'Mercury Islands', 'Delta', "Vava'u",
       'Inner Hebrides', 'Saint Leu', 'Trois-Bassins', 'British Colombia',
       'Guerrero', 'Saint-Benoit', 'Tabuk Province',
       'Antofagasta Province', "St John's", 'Santa Elena',
       'East New Britain', 'Bois-Blanc ', 'Moray', 'Puerto Rico',
       'Samaná Province', 'Coast Province', 'Central Province',
       'Primorsky Krai',
       'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Praslin',
       'Sucre', 'Middle Caicos', 'Caicos Bank', 'San Andrés archipelago',
       'Kedah', 'Umm al Qaywayan Province', 'Vitu Levu',
       'South Sinai Peninsula', ' Loyalty Islands', 'Saint Gilles ',
       'Maine', 'Virginia', "Ha'api ", 'Western Province',
       'Jeju Province', 'Binh Dinh Province', 'Antsiranana Province',
       'Sinai Peninsula', 'Off Vanua Levu', 'Merizo', 'Rio Grande Do Sul',
       'Dubai', 'Torres Strait', 'Eastern Province',
       'Eastern Cape  Province', 'Maputo Province', 'Bocas', 'Fife',
       'Devon', 'Makira-Ulawa Province', 'Mombasa', 'Catalunya',
       'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
       'Maranhão', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
       'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Loyalty Islands', 'Marovo Lagoon',
       'Territory of Cocos (Keeling) Islands', 'Oslo Fjord', 'Kent',
       'Bird Island', 'Providenciales', 'Bimini Islands',
       'Muhafazat Hadramawt', 'Cook islans', 'Surigao del Norte',
       'Between Somalia & Yemen', 'Ambergris Caye', 'Saint-Pierre',
       'Kentucky', 'Andros Islands', 'Guam', 'Western Area',
       '300 miles from Antigua', '800 miles from land',
       '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       "South Ch'ungch'ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago de Cuba Province',
       'Camaguey Province', 'Conservatória District', 'South Carolina ',
       'Kuril Islands in the Pacific', 'Wakayama Prefecture',
       "Nuku'alofa", 'Saint-Benoît',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Baatan',
       'Rio de Janeiro', 'Nueva Esparta', 'Southland',
       'North Pacific coast', 'Caroline Islands', 'Cheshire',
       'Louisiade Archipelago',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
       'Rayong Province', 'Zamboanga del Sur Province',
       'Rio Grande de Norte',
       'Off the western coast of peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang nga Province', 'Alinglaplap Atoll',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       "L' Etang Salé-les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
       'Marches region', 'Berry Islands', 'Transvaal', 'Gaza',
       "Grand'Anse", 'Beaufonds', 'Miyako', "L'Etang-Sale",
       'Chatham Islands ', 'South Sinai, Gulf of Aqaba', 'Cat Cay',
       'Missouri', '12 miles off the north coast', 'Saint-Paul ',
       'Chatham Islands, east of New  Zealand', 'Saint-Denis', 'Vava’u',
       'Mississippi', 'Clearwater Bay', 'New Territories',
       'Aichi Prefecture', 'Tafea Province', 'Kagoshima Prefecture',
       'Saint-Joseph', 'Banaadir Region', 'La Libertad', 'Costa Blanca',
       'Walkers Cay', 'On the Kowloon penisula, south of Sai Kung',
       'Ehime Prefecture', 'Tongapatu Group', 'West Africa',
       'Wakaya Island', 'North Carolina ', 'Mexico / Caribbean Sea',
       'Antarctic Ocean', 'La Saline-les-Bains', 'Sea of Japan',
       'Tavenui', 'Ligurian Sea', "L'Etang-Salé", 'Kowloon Peninsula',
       'Port Shelter', 'Laucala Island', 'Sainte-Marie',
       'Great Exuma Island', 'Sainte-Suzanne', 'Tuscany',
       'Tyrrhenian Sea', 'New Ireland', 'Valpariso Province',
       'Viscayan Sea', 'Manfredonia ', 'Tokyo Prefecture', 'Saint-Louis',
       'Mindoro', 'Between DR and Puerto Rico',
       'Between Honiara & Isabel Island', 'Florida Straits',
       'Gulf of Lyons', 'Cádiz', 'Sicily', 'Andikira Fokithes',
       'Central Philippines', 'Rhode Island', 'Northwest Italy',
       'English Channel', 'North & South Carolina', 'Kumamoto Prefecture',
       'Biserta', 'Saint-Philippe', 'Chungnam', 'Eronogo Region',
       'Coquimbo', 'Pagasitikos Gulf', "St. Mary's Parish",
       'Romblon Province', 'Lamu Archipelago', 'Los Vilos',
       'Island of Kos', "Ha'api", 'Madeira Islands',
       'Ho Ha Wan Marine Park', 'Southern Thailand', 'Golfo de Venezia',
       'Ralik Archipelago', 'South China Sea 200 miles from Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
       'Ganges-Brahmaputra delta', ' Split-Dalmatia County', 'Florida ',
       'Primorje-Gorski Kotar County ', 'Aulong Island',
       'Western Caroline Islands', 'Upolu Island', 'Antibes',
       'Illeginni Atoll', 'Istria County', 'Between Beira & Maputo',
       'Khuzestan Province', 'Inhambe Province', 'Namonuito Atoll',
       'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', '200 nm southeast of Manila', 'Limpopo River',
       'New Ireland Province', 'Zadar County', 'Basrah', 'Clarendon',
       'Moro Gulf', 'Johor', 'Magdalena Department', 'Mafia Island',
       'Gulf Province', 'Morobe Province', 'Limón Province',
       'Rombion Province', 'Veracruz', 'Brindisi Province',
       'Kagawa Prefecture', 'Liguria', 'Hamilton', 'Out Islands',
       'Mugla Province', 'Gibraltar', 'New Britain', 'Bay of Maputo',
       'Duke of York Islands', 'Taranto province', 'Northern Taiwan',
       'Admiralty Islands, Manus Province', 'North Sumatra',
       "250 miles southwest of O'ahu, Hawaii", 'West coast', 'East Sepik',
       'Near Bougainville (North Solomons)', 'East of the Gulf of Aqaba',
       'Bougainville (North Solomons)', 'Victoria ', 'Okayama Prefecture',
       'San Blas', 'Connecticut', 'Lau Group', 'Caribbean Coast',
       'Vita Levu', 'San Blas Islands', 'Puntarenas Province',
       'Lomaloma, Lau', 'Between Southampton & Canary Islands',
       'South Coast, East New Britain', ' Lau Province', 'Ysabel Island',
       'Santo Domingo', 'San Blas coast', 'Thessaly',
       'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
       'Pinas Bay', 'Grand Turk Island', 'Off coast of West Africa',
       'Sharon', 'Antalya Province', 'Northern District',
       'New Ireland Province, Bismarck Archipelago', 'Cyclades',
       'Viti Levu', 'Off the Coromandel Peninsula, North Island',
       'Madang', 'Guadalcanal Province', '10ºS, 142ºE', 'Kwajalein Atoll',
       'East Flores', 'Guerrrero', 'Western Luzon Island',
       'Shefa Province', '165  miles from Bermuda',
       '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Anatolia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (EnenKio)', '19S, 178?E', 'Pennsylvania',
       '9.35N 79.35W', 'Roncador Bank', 'Western District',
       'Enroute from Suez to Aden (Yemen)',
       '180 miles southeast of Okinawa', 'Eniwetok Atoll',
       'Cap-Vert Peninsula', 'Delagoa Bay', 'In the English Channel ',
       'Cook Strait', 'Unknown, treated at Wick, SCOTLAND',
       'Corregidor Island', 'Paget', '33N, 68W', 'Casamance',
       'Madang (WO)', 'Between Timor & Darwin, Australia',
       'Pacific coast', 'St. Georges ', 'Eastern  Province',
       'Northwest of Viti Levu', 'West New Britain Province',
       'Rigo subdistrict', 'Masbate', '400 miles southeast of Sri Lanka',
       'Lomaiviti Province', 'Kadavu', 'Leyte Island', 'Orissa',
       'Hokkaido Prefecture', 'North Palawan', 'Queaon', 'Istria',
       'PANAMA', 'In the Gulf Stream ', 'Mersin Province', 'Guyamas',
       'Between England & South Africa', 'Mindanao',
       ' Kikori River mouth', 'South Chungcheong Province',
       'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
       '1,000 miles east of Hawaii', 'Honiara', 'Yucatan Channel',
       'Havana Province', 'Karun River',
       'Abau Subdistrict,Central Province',
       'New Britain, Bismarck Archipelago', 'Estuaire Province',
       'Near Dakar, Cap Vert Peninsula',
       'Near the Andaman & Nicobar Islands', 'Mozambique Channel',
       'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
       'Between Comores & Madagascar', 'Corfu Island',
       '1000 miles west of Hawaii', 'Izo Islands',
       ' Primorje-Gorski Kotar County', 'Open sea', 'Aden',
       'New Ireland, Bismarck Archipelago', '18S / 50E', 'Illinois',
       'Isles del Rosario', 'Wake Island', 'Isle of Man',
       'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South shore ',
       'Buenos Aires Province', '330 to 350 miles east of Wake Island',
       'Nova Scotia', 'Gulf of Panama', 'Genoa  Province',
       'Abau Sub District, Central Province', 'Teramo', 'Red Sea State',
       'Curacao', 'Port Louis Province', 'Montserrado', 'Bay of Maputu',
       'Sofala Province', 'Salerno', 'Salerno Province', 'Taranto',
       'Naples Province', ' La Libertad', 'Sago Prefecture', 'Savona',
       'Southern Province', 'Jakarta Harbour', 'Singapore Harbor',
       'Calabria', 'Shatt-el-Arab River', 'Shatt-al-Arab River',
       'Tamaulipas', 'Calvados Archipelago', 'Shat-Al-Arab River',
       'Between Kwajalein Atoll & Johnston Island', 'Attica',
       'Adana Province', 'Bandar Ma’shur sea inlet', 'Saipan',
       'Carpathian Sea', 'Kwajalein', 'Dar-es-Salaam ',
       '"Head of the Gulf"', 'Ryukyu', ' North Carolina',
       'In transit between Tinian and Leyte', 'Northern Java', 'Tel Aviv',
       'Colon Province', '300 miles east of Luzon',
       'Bernardino Strait near Gulf of Leyte',
       'Off Samar Island in the Gulf of Leyte',
       'Lake Nicaragua (fresh water)', 'Pacific Ocean',
       'Near the Fiji Islands', '40 miles south of Naples ',
       'Northwest of Papua New Guinea', 'Between Hawaii and U.S.A.',
       'Off South American coast', 'Makora-Ulawa Province',
       '04.05N-13.23W', 'Midway Atoll',
       '300 miles east of St. Thomas (Virgin Islands)',
       'West of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
       'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
       'Off Libya', 'North of Pernambuco, Brazil', 'Off coast of Ecuador',
       'Trelawney Province', 'In Convoy OB 274', 'New Georgia',
       'Panama Bay (Pacific Ocean)', 'Bwagaoia', 'Western Papuan Gulf',
       'Torres Strait ', 'Carabobo', 'Ascension Bay', 'North China',
       'Lower San Juan River', 'Nicoya Peninsula', 'Basrah City',
       'West Bengal', 'Queensland ', 'Argyllshire', 'Arran', 'Argyll',
       'Fishing Grounds', 'Newfoundland', 'Isle of Wight',
       'Makira-Uluwa Province', 'Northern (Oro) Province', 'Herzliyah',
       'Elqui Province', 'Istanbul', 'St Michael Parish',
       'Barlavento Islands', 'Viti Levu Island', 'Bay of Fundy', 'Manila',
       'French Southern Territories', 'Niua ', 'Black River',
       'Phoenix Islands', 'Cienfuegos Province', 'Valencia',
       'Santiago Island', 'Near Puntarenas', 'Porto Seguro',
       'Salinas Bay', 'Golfo di Genova in the Ligurian Sea',
       'Sants-Montjic', 'South of the Equator ', 'Bay of Monaco',
       'Valencia ', 'Vancouver',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
       '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',
       ' Manila Bay', 'Lucy', 'East Yorkshire', 'Westmoreland Parish',
       'Cavite Province, Luzon', 'Cape Haitien', 'Leyte', 'Halifax',
       'Turtle Bogue', '60 miles north of San Domingo in the West Indies',
       'Colon', 'Off Ireland', 'Mediterranean Sea', 'Gran Canaria',
       'Apolima Strait', 'Essequibo', 'Lagos ', 'Trieste', '5aint-Denis',
       'Viti Levu group', 'Balearics', 'Málaga ', 'Chatham Islands',
       'Georges Bank', 'Zambesi River', 'Colón Province',
       '30 nm from Singapore', 'Andalucia', 'Sfax',
       'South Atlantic Ocean', 'Galicia', 'Gulf of Suez', 'Java',
       'Tiburon Peninsula', 'Oaxaca', 'Harare Province',
       'Khánh Hòa Province', 'Maluku Province', 'Suez Canal',
       ' Nusa Tenggara', 'Between Noumea & Sydney',
       'Villa Clara Province', 'Ancona Province', 'Quezon',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Negros ', 'Imperia Province', 'Muala',
       'East coast', 'Ratak ', 'Socotra Islands', 'Off Cape Haitien',
       'Moluccas', 'Bocas del Toro', 'Provence', 'Bay of Campeche',
       'Rangoon', 'Bay of Bengal', 'Bayelsa State', 'South Island?',
       'Norfolk Island', 'Brittany', 'Line Islands', 'Woodlark Islands',
       'Munxar Reef', 'Northern Peloponnese', 'Between Perth & Colombo',
       'Gujarat', 'Lukovo', 'Cortés', 'Gulf of California',
       'Somewhere between Philadelphia and Hiogo, Japan', ' New Jersey',
       "Côte d'Azur  ", 'Maldonado coast', 'Western Banks',
       'Andaman Islands', 'Off the coast of West Africa',
       'Misamis Oriental', 'Strait of Messina', 'Hoogly River',
       'Cyclades archipelago', 'Mount Lebanon',
       'Between Hastings & Fairlight, Sussex', 'Veracruz ',
       'Gilbert Islands', 'Lomaiviti Provine',
       'Off the coast of South America', '22ºN, 88ºE',
       'Matanzas Province (north coast)', 'Alpes Maritime', 'Edinburgh',
       'Eastern Catalona', '300 miles east of Mauritius',
       'Foveaux Strait', 'Sumatra', 'Conakry Region', 'Corfu', 'Malaga',
       'Bonin Islands', 'Fernando Po Island', 'Mangaia Island',
       'New York ', 'Corfu ', 'Between Australia & USA', 'Tongatapu',
       'Norfolk', 'Island of St. Thomas', 'Cumberland', 'Sanma Province',
       "35º39 : 165º8'", 'CUBA', 'Western Area ', 'Paraiba', 'Cape Coast',
       'Rivers State', 'Maharashtra', 'St. Anne', 'St Helena',
       "Côte d'Azur ", 'Skagerrak arm of the North Sea',
       'Las Perlas archipelago', 'Bardestrand', 'Southwest coast',
       'Kerala', 'Nice & Marseilles', 'Magarita or Cubagua Islands',
       'Ionian Sea', 'Piraeus', 'Off Thessaly', 'Bocas del Toro Province',
       'Rocha ', 'Gulf of Tadjoura', 'Cyrenaica', 'Northern Province',
       'Los Roques  Islands', 'Dodecanese Islands', 'Malaita Province',
       'South Korea', 'Milne Bay  Province', 'Island of Volos',
       'Amirante Islands', 'Kadavu Island Group', 'Toamasina Province',
       'Riau Province', 'Bikini Atoll',
       'Between New Ireland & New Britain', 'Ba Ria-Vung Tau  Province',
       'Moala Island'], dtype=object)

In [44]:
repetidos(shark, 'area')

1

Estos datos también parecen consistentes, por lo que también los voy a dejar así y en caso de necesitarlo más adelante profundizaré más.

---

# Location

In [45]:
shark.location[:20]

0                           Oceanside, San Diego County
1                        St. Simon Island, Glynn County
2                                          Habush, Oahu
3                                    Arrawarra Headland
4                                              La Ticla
5                                    Flat Rock, Ballina
6                                 Piedade Beach, Recife
7     Lighhouse Point Park, Ponce Inlet, Volusia County
8                          Cocoa Beach, Brevard  County
9                         Daytona Beach, Volusia County
10                                      Cairns Aquarium
11                    Isle of Palms,  Charleston County
12                  Hilton Head Island, Beaufort County
13                                       Off Land's End
14                                           Dugong Bay
15                            Nahoon Beach, East London
16                               Sharpes Beach, Ballina
17                                        Sai Noi Beach
18                                            Manuelita
19                                         Gearys Beach
Name: location, dtype: object

In [46]:
shark.location.unique()

array(['Oceanside, San Diego County', 'St. Simon Island, Glynn County',
       'Habush, Oahu', ..., 'Ocracoke Inlet', 'Panama Bay 8ºN, 79ºW',
       'Below the English fort, Trincomalee'], dtype=object)

In [47]:
repetidos(shark, 'location')

1

---

# Activity

In [48]:
shark.activity.value_counts()

activity
Surfing                                   971
Swimming                                  869
unknown                                   544
Fishing                                   431
Spearfishing                              333
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: count, Length: 1533, dtype: int64

In [49]:
shark.activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [50]:
repetidos(shark, 'activity')  # Revisa la cantidad de tipos de datos diferentes que hay

1

---

# Sex

In [51]:
shark.sex[:20]

0     F
1     F
2     M
3     M
4     M
5     M
6     M
7     M
8     M
9     M
10    M
11    M
12    M
13    M
14    F
15    M
16    M
17    M
18    M
19    M
Name: sex, dtype: object

In [52]:
shark.sex.unique()

array(['F', 'M', 'u', 'M ', 'lli', 'N', '.'], dtype=object)

In [53]:
shark.sex.value_counts()

sex
M      5094
F       637
u       565
M         2
N         2
lli       1
.         1
Name: count, dtype: int64

In [54]:
shark.loc[shark['sex'] == '.', 'sex'] = 'u'
shark.loc[shark['sex'] == 'lli', 'sex'] = 'u'
shark.loc[shark['sex'] == 'N', 'sex'] = 'u'

In [55]:
shark['sex'].unique().tolist()

['F', 'M', 'u', 'M ']

In [56]:
shark.loc[shark['sex'] == 'M ', 'sex'] = 'M'

In [57]:
shark.sex.value_counts()

sex
M    5096
F     637
u     569
Name: count, dtype: int64

In [58]:
repetidos(shark, 'sex')

1

---

# Age

In [59]:
shark.age[:20]

0     57
1     11
2     48
3     -1
4     -1
5     -1
6     18
7     52
8     15
9     12
10    32
11    10
12    10
13    21
14    34
15    -1
16    -1
17    -1
18    30
19    -1
Name: age, dtype: object

In [60]:
shark.age.unique()

array(['57', '11', '48', '-1', '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18months', '53',
       '30s', '50s', 'teen', '77', '74', '28&26', '5', '86', '18or20',
       '12or13', '46&34', '28,23&30', 'Teens', '36&26', '8or10', '84',
       '\xa0', nan, '30or36', '6½', '21&?', '75', '33or37', 'mid-30s',
       '23&20', '7&31', '20?', "60's", '32&30', '16to18', '87', '67',
       'Elderly', 'mid-20s', 'Ca.33', '21or26', '>50', '18to22', 'adult',
       '9&12', '?&19', '9months', '25to35', '23&26', '1', '(adult)',
       '33&37', '25or28', '37,67,35,27,?&27', '21,34,24&35', '30&32',
       '50&30', '17&35', 'X', '"middle-age"', '13or18', '34&19', '33&26',
       '2to3months', 'MAKELINEGREEN', '81', '"young"', '7or8', '78',
       '17&16', 'F', 'Both11', '9or10', 'young', '36&23', 'A.M.', '?&14',
       '10or12', '31or33', '2½', '13or14'], dtype=object)

In [62]:
dos_num_seguidos(shark, 'age')

array(['57', '11', '48', '-1', '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '13', '42', '3', '8', '50',
       '16', '82', '73', '68', '51', '39', '58', 'Teen', '47', '61', '65',
       '36', '66', '43', '9', '72', '59', '6', '27', '64', '23', '71',
       '44', '62', '63', '70', '53', 'teen', '77', '74', '5', '86',
       'Teens', '84', '\xa0', nan, '6½', '75', '87', '67', 'Elderly',
       'adult', '9months', '1', '(adult)', 'X', '"middle-age"',
       '2to3months', 'MAKELINEGREEN', '81', '"young"', '7or8', '78', 'F',
       'young', 'A.M.', '2½'], dtype=object)

In [77]:
faltan = []
años = [str(i) for i in range(-1, 100)]
for valor in shark['age']:
    if valor not in años:
        faltan.append(valor)
faltan_unicos = list(set(faltan))
faltan_unicos

['X',
 '6½',
 'young',
 'teen',
 '\xa0',
 'Teens',
 nan,
 'Teen',
 '2to3months',
 '2½',
 'adult',
 '"middle-age"',
 '7or8',
 '(adult)',
 '"young"',
 'MAKELINEGREEN',
 'F',
 'A.M.',
 'Elderly',
 '9months']

# EXTRAS

In [64]:
shark['time_fhora'] = shark['time'].str.extract(r'(\d{2}:\d{2})', expand=False)

In [65]:
times = {
    'Afternoon': '18:00',
    'afternoon': '18:00',
    'Morning': '09:00',
    'morning': '09:00',
    'Night': '00:00',
    'night': '00:00',
    'Evening': '21:00',
    'evening': '21:00',
}

In [66]:
shark['time'] = shark['time'].replace(times, inplace=True)

In [67]:
null = shark['time_fhora'].isna()

# Filtrar filas en 'col1' que no sean NaN pero 'col2' sí sea NaN
filtro = shark.loc[null, 'time']

filtro.value_counts()

Series([], Name: count, dtype: int64)

In [68]:
shark[(shark['numero']<87) & (shark['numero']>0)]['numero'].hist(bins=87);

KeyError: 'numero'