In [1]:
import pandas as pd
import numpy as np
import re
import zipfile
import pylab as plt    
import seaborn as sns
import sys
from datetime import datetime, time
from jupyterthemes import jtplot
jtplot.style()

from functions import *

pd.set_option('display.max_columns', None)  # me muestre todas las columnas

In [2]:
shark=pd.read_csv('../data/sharkattack_parte3.csv')

Una vez que ya esta limpia la tabla de valores nulos e inconsistentes, el siguiente paso es analizarla para encontrar la mejor manera de poder obtener información relevante para el objetivo que me he impuesto.  
  
El objetivo es relacionar las cinco especies de tiburones con mayor cantidad de ataques, con la actividad que estaban realizando los atacados y con las fechas en las que se producen, para así poder establecer un periodo anual en el eque incrementar la seguridad mientras se realizan las diferentes actividades.
  
Para ello, las principales columnas que voy a necesitar son las de:
1. date: Ok
2. year: Ok
3. hora: Ok
4. activity: Ok
5. sex: Ok
6. fatal: Ok
7. species: Ok

In [3]:
shark.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,species,investigator,pdf,href,href1,casenumber1,casenumber2,originalorder,unnamed,unnamed1,time,date1,hora,minutos
0,2018.06.25,25-Jun-2018,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,0,0,18:00:00,25-Jun-2018,18,0
1,2018.06.18,18-Jun-2018,2018,Unprovoked,usa,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,0,0,14:00:00,18-Jun-2018,14,0
2,2018.06.09,09-Jun-2018,2018,Invalid,usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,0,0,07:45:00,09-Jun-2018,7,45
3,2018.06.08,08-Jun-2018,2018,Unprovoked,australia,New South Wales,Arrawarra Headland,Surfing,male,M,-1,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,0,0,00:01:00,08-Jun-2018,25,0
4,2018.06.04,04-Jun-2018,2018,Provoked,mexico,Colima,La Ticla,Free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,0,0,00:01:00,04-Jun-2018,25,0

---

# Date

In [4]:
shark.date[:25]

0     25-Jun-2018
1     18-Jun-2018
2     09-Jun-2018
3     08-Jun-2018
4     04-Jun-2018
5     03-Jun-2018
6     03-Jun-2018
7     27-May-2018
8     26-May-2018
9     26-May-2018
10    24-May-2018
11    21-May-2018
12    13-May-2018
13    13-May-2018
14           2018
15    12-May-2018
16    09-May-2018
17    30-Apr-2018
18    28-Apr-2018
19    28-Apr-2018
20    25-Apr-2018
21    25-Apr-2018
22    24-Apr-2018
23    23-Apr-2018
24    22-Apr-2018
Name: date, dtype: object

In [5]:
meses_dict = {'Ene': 1,'Jan': 1, 'Feb': 2, 'Mar': 3, 'Abr': 4, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Ago': 8,'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dic': 12,'Dec': 12,}
shark['mes'] = shark['date'].replace(meses_dict, regex=True)

In [6]:
shark.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,species,investigator,pdf,href,href1,casenumber1,casenumber2,originalorder,unnamed,unnamed1,time,date1,hora,minutos,mes
0,2018.06.25,25-Jun-2018,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,0,0,18:00:00,25-Jun-2018,18,0,6
1,2018.06.18,18-Jun-2018,2018,Unprovoked,usa,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,0,0,14:00:00,18-Jun-2018,14,0,6
2,2018.06.09,09-Jun-2018,2018,Invalid,usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,0,0,07:45:00,09-Jun-2018,7,45,6
3,2018.06.08,08-Jun-2018,2018,Unprovoked,australia,New South Wales,Arrawarra Headland,Surfing,male,M,-1,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,0,0,00:01:00,08-Jun-2018,25,0,6
4,2018.06.04,04-Jun-2018,2018,Provoked,mexico,Colima,La Ticla,Free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,0,0,00:01:00,04-Jun-2018,25,0,6

In [7]:
shark['mes'].apply(type).value_counts()

mes
<class 'int'>    5737
<class 'str'>     565
Name: count, dtype: int64

In [8]:
shark.loc[shark['mes'].apply(lambda x: isinstance(x, str)), 'mes'].unique()

array(['2018', '2017', '2015', '2014', '2013', '2012', '2011', '2010',
       '2009', '2008', '2006', '2004', '2001', '2000', '1999', '1998',
       '1996', '1995', '1994', '1993', '1992', '1991', '1990', '1989',
       '1988', '1987', '1986', '1985', '1984', '1983', '1982', '1981',
       '1980', '1979', '1978', '1976', '1975', '1974', '1973', '1972',
       '1971', '1970', '1969', '1968', '1966', '1965', '1964', '1963',
       '1962', '1961', '1960', '2176', '1959', '1958', '1957', '1956',
       '1955', '1954', '1953', '1952', '1951', '1950', '1949', '1948',
       '1946', '1945', '1944', '1943', '1942', '1941', '1940', '1939',
       '1938', '1937', '1936', '1932', '1931', '1930', '1929', '1928',
       '1927', '1926', '1925', '1923', '1922', '1920', '1919', '1918',
       '1917', '1915', '1914', '1913', '1912', '1911', '1910', '1909',
       '1907', '1906', '1905', '1904', '1903', '1901', '1900', '1899',
       '1898', '1897', '1896', '1895', '1893', '1892', '1890', '1888',
       '1887', '1886', '1883', '1882', '1881', '1880', '1879', '1878',
       '1876', '01-mid-1870', '1874', '1872', '1871', '1870', '1868',
       '1867', '1865', '1864', '1863', '1862', '1858', '1855', '1853',
       '1852', '1851', '1850', '1847', '1845', '1844', '1842', '1839',
       '1837', '1836', '1829', '1828', '1827', '1820', '1825', '1816',
       '1815', '1812', '1806', '1803', '1802', '1800', '1797', '1791',
       '1779', '1776', '1767', '1764', '1758', '1749', '1755', '1748',
       '1733', '1723', '1721', '1700', '1600', '1638', '1637', '1617',
       '1642', '1595', '1555', '1554', '1543', '2016', '1934', '1916',
       '1908', '2003', '1902', '1921'], dtype=object)

In [9]:
shark.date1.isna().sum()

7

In [10]:
shark.mes.value_counts()

mes
7       662
8       598
9       556
1       528
6       497
       ...
1928      1
2013      1
1976      1
1865      1
1868      1
Name: count, Length: 199, dtype: int64

In [11]:
meses = [1,2,3,4,5,6,7,8,9,10,11,12]
for i, valor in enumerate(shark['mes']):
    if valor not in meses:
        shark.at[i, 'mes'] = 0

In [12]:
shark.mes.value_counts()

mes
7     662
8     598
0     565
9     556
1     528
6     497
4     451
10    444
12    436
3     412
11    407
2     380
5     366
Name: count, dtype: int64

---

Una vez que tengo los meses, el siguiente paso es establecer el año, para ello voy a revisar la columna de year

In [13]:
shark.year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815, 1812,
       1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800, 1797,
       1792, 1791, 1788, 1787, 1786, 1785, 1784, 1783, 1780, 1779, 1776,
       1771, 1767, 1764, 1758, 1753, 1751, 1749, 1755, 1748, 1742, 1738,
       1733, 1723, 1721, 1703, 1700, 1642, 1638, 1637, 1617, 1595, 1580,
       1555, 1554, 1543,  500,   77,    5,    0], dtype=int64)

In [14]:
(shark['year'] == 500).sum(), (shark['year'] == 77).sum(), (shark['year'] == 5).sum(), (shark['year'] == 0).sum()

(1, 1, 1, 125)

---

Una vez que tengo los ayos, el siguiente paso es establecer la hora, para ello voy a revisar la columna de hora

In [15]:
shark.hora.unique()

array([18, 14,  7, 25, 17,  9, 15,  8, 11, 10, 16, 21, 19, 12, 13, 23,  6,
        2, 22,  4,  5,  3, 20,  0,  1], dtype=int64)

Para que sea más facil de analizar lo voy a dividir en 4 franjas:
1. Mañana: 6 - 12
2. Tarde: 12 - 19
3. Noche: 19 - 0
4. Madrugada: 0 - 6

In [16]:
for valor in shark.hora:
    if 6 <= valor < 12: 
        shark['hora'].replace(valor, 'mañana', inplace=True)
    elif 12 <= valor < 19:
        shark['hora'].replace(valor, 'tarde', inplace=True)
    elif 19 <= valor <= 23:
        shark['hora'].replace(valor, 'noche', inplace=True)
    elif 0 <= valor < 6:
        shark['hora'].replace(valor, 'madrugada', inplace=True)
    else:
        shark['hora'].replace(valor, 'unknown', inplace=True)

In [17]:
shark.hora.unique()

array(['tarde', 'mañana', 'unknown', 'noche', 'madrugada'], dtype=object)

In [18]:
shark.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal,species,investigator,pdf,href,href1,casenumber1,casenumber2,originalorder,unnamed,unnamed1,time,date1,hora,minutos,mes
0,2018.06.25,25-Jun-2018,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,0,0,18:00:00,25-Jun-2018,tarde,0,6
1,2018.06.18,18-Jun-2018,2018,Unprovoked,usa,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,0,0,14:00:00,18-Jun-2018,tarde,0,6
2,2018.06.09,09-Jun-2018,2018,Invalid,usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,unknown shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,0,0,07:45:00,09-Jun-2018,mañana,45,6
3,2018.06.08,08-Jun-2018,2018,Unprovoked,australia,New South Wales,Arrawarra Headland,Surfing,male,M,-1,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,0,0,00:01:00,08-Jun-2018,unknown,0,6
4,2018.06.04,04-Jun-2018,2018,Provoked,mexico,Colima,La Ticla,Free diving,Gustavo Ramos,M,-1,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,0,0,00:01:00,04-Jun-2018,unknown,0,6

---

# Activity

In [19]:
shark.activity = [e.lower() for e in shark.activity]

In [20]:
actividades = shark.activity.value_counts().to_dict()

In [21]:
actividades

{'surfing': 971,
 'swimming': 869,
 'unknown': 547,
 'fishing': 431,
 'spearfishing': 333,
 'bathing': 162,
 'wading': 149,
 'diving': 127,
 'standing': 99,
 'scuba diving': 90,
 'snorkeling': 89,
 'body boarding': 64,
 'body surfing': 49,
 'swimming ': 47,
 'boogie boarding': 45,
 'kayaking': 33,
 'treading water': 32,
 'fell overboard': 32,
 'pearl diving': 32,
 'free diving': 29,
 'windsurfing': 19,
 'walking': 17,
 'shark fishing': 16,
 'floating': 14,
 'kayak fishing': 14,
 'sea disaster': 14,
 'canoeing': 14,
 'fishing ': 13,
 'surf fishing': 12,
 'surf-skiing': 12,
 'rowing': 12,
 'surf skiing': 12,
 'fishing for sharks': 11,
 'kite surfing': 11,
 'freediving': 10,
 'sponge diving': 10,
 'fell into the water': 9,
 'paddle boarding': 9,
 'diving for trochus': 9,
 'sailing': 9,
 'freedom swimming': 9,
 'sitting on surfboard': 9,
 'diving for abalone': 8,
 'boating': 7,
 'wade fishing': 7,
 'playing': 7,
 'free diving for abalone': 7,
 'skindiving': 7,
 'surfing (sitting on his board)': 7,
 'spearfishing on scuba': 7,
 'floating on his back': 7,
 'spearfishing ': 7,
 'surf skiing ': 7,
 'spearfishing / free diving': 6,
 'murder': 6,
 'fishing for mackerel': 6,
 'stand-up paddleboarding': 6,
 'shipwreck': 6,
 'paddleskiing': 5,
 'hard hat diving': 5,
 'dangling feet in the water': 5,
 'fishing on a boat': 5,
 'boat': 5,
 'surfing ': 5,
 'kayaking / fishing': 5,
 'jumping': 4,
 'diving for coins': 4,
 'free diving / spearfishing': 4,
 'feeding sharks': 4,
 'scuba diving (submerged)': 4,
 'boat capsized': 4,
 'boat swamped': 4,
 'body-boarding': 4,
 'fishing boat': 4,
 'seine netting': 4,
 'skin diving': 4,
 'scuba diving (but on surface)': 4,
 'clamming': 4,
 'tagging sharks': 4,
 'air disaster': 4,
 'lifesaving drill': 4,
 'splashing': 4,
 'paddling on surfboard': 4,
 'spearfishing (free diving)': 4,
 'jumped into the water': 4,
 'shell diving': 4,
 'kite boarding': 4,
 'free diving & spearfishing': 3,
 'playing in the surf': 3,
 'paddling': 3,
 'spearfishing using scuba': 3,
 'wreck of the schooner pohoiki ': 3,
 'diving for sponges': 3,
 'crayfishing': 3,
 'bathing ': 3,
 'standing / surfing': 3,
 'competing in the woodvale atlantic rowing race': 3,
 'fishing for bluefish': 3,
 'suicide': 3,
 'fishing for kob': 3,
 'standing in knee-deep water': 3,
 'fishing for snapper': 3,
 'walking out of the water after surfing': 3,
 'crabbing': 3,
 'hookah diving for abalone': 3,
 'spearfishing / scuba diving': 3,
 'sitting on gunwale of boat': 3,
 'jumped overboard ': 3,
 'spearing fish': 3,
 'sculling': 3,
 'sup': 3,
 'fishing for squid': 3,
 '.': 3,
 'spearfishing / scuba diving (at surface)': 3,
 'diving ': 3,
 'scuba diving for abalone': 3,
 'surfing, paddling seawards': 3,
 'knocked overboard': 3,
 'floating on a raft': 3,
 'jumped overboard': 3,
 'escaping from alacatraz': 3,
 'wade-fishing': 3,
 'feeding fish': 3,
 'shark watching': 3,
 'their 9 m launch was run down by a 25,000-ton japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days': 3,
 'swimming after his hat': 3,
 'hookah diving for sea urchins': 2,
 'diving around anchored liner': 2,
 'fishing for cod': 2,
 'diving off jetty': 2,
 'fishing (seining)': 2,
 's2n navy scout plane went down, e.h. almond & lieut a.g. reading in water': 2,
 'floating on back': 2,
 'rowing ': 2,
 'shooting sharks ': 2,
 'standing in waist-deep water': 2,
 'fishing for lobsters': 2,
 'five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. survivors rescued after  7.5 hours in the water': 2,
 'fishing for prawns': 2,
 'cruising': 2,
 'ocean racing': 2,
 'fishing for tuna': 2,
 'free-diving': 2,
 'scuba diving & spearfishing': 2,
 'dived for a coin': 2,
 'shark tagging': 2,
 'body surfing / treading water': 2,
 'boat with 5 men capsized while returning to the amerique': 2,
 'swimming / escaping imprisonment ': 2,
 'splashing ': 2,
 'swimming or surfing': 2,
 'fishing from surf ski': 2,
 'swimming alongside noaa research vessel discoverer': 2,
 'thrown overboard': 2,
 'bathing in river': 2,
 'hookah diving': 2,
 'beach seine netting': 2,
 'diving into water': 2,
 'boat capsized, swimming ashore': 2,
 'fishing for whiting': 2,
 'finning the shark that bit him': 2,
 'hmas parramatta torpedoed & sunk by the u-559': 2,
 'swimming / body surfing': 2,
 'surfing, collided with shark': 2,
 'diving for trochus shell': 2,
 'netting shrimp': 2,
 'washing': 2,
 'surfing (lying prone on his board)': 2,
 'transatlantic rowing': 2,
 'shark diving': 2,
 'swimming near jetty': 2,
 'swimming or snorkeling': 2,
 'cage diving': 2,
 '"flying tiger" transport plane went down with 5 men onboard': 2,
 'standing ': 2,
 'diving for lobsters': 2,
 'kitesurfing': 2,
 'playing in the water': 2,
 'diving from canoe': 2,
 'floating in inner tube': 2,
 'spearfishing competition': 2,
 'teasing a shark': 2,
 'diving?': 2,
 'swimming from the new venture ': 2,
 'fishing boat exploded & sank': 2,
 'diving for beche-de-mer': 2,
 'kiteboarding': 2,
 'diving for crayfish': 2,
 'swimming / snorkeling': 2,
 'jet skiing': 2,
 'swimming / wading': 2,
 'free diving, spearfishing': 2,
 'sitting in shallows': 2,
 'washing his feet': 2,
 'launching rowboat through the surf': 2,
 'collecting shells': 2,
 'cleaning fish': 2,
 'hoisting shark aboard fishing boat': 2,
 'diving for beche-de-mer ': 2,
 'u.s. airforce c124 enroute from hickham air base to japan went down. the 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.': 2,
 'swimming ashore from capsized boat': 2,
 'aircraft crashed into sea': 2,
 'swimming, ducking for shells in water 0.9 m deep': 2,
 'the christie v sank on 11/6/1988, survivors were adrift on a dinghy': 2,
 'sitting in the water': 2,
 'kayaking ': 2,
 'attempting to kill a shark with explosives': 2,
 'swimming outside the safety enclosure attempting to retrieve a tennis ball drifting toward midstream ': 1,
 'torpedoed & burning british  light cruiser with a crew of 450 men': 1,
 'rescuing seaman after ship sunk by german raider': 1,
 'adrift on raft after their ship was sunk by an axis raider ': 1,
 "fishing, caught a 15' shark & took it onboard": 1,
 'swimming on sandbar adjacent to channel': 1,
 'british cruiser dunedin torpedoed & sunk by the u-124': 1,
 'free diving for trochus ': 1,
 'ditched aircraft, 3 men in the water. swam for 31 hours': 1,
 'german raider kormoran was sunk in an engagement with hmas sydney': 1,
 'ss ethel skakel foundered in central america hurricane of 1941': 1,
 'swimming at edge of channel': 1,
 "days before the surrender of singapore, the 3 men escaped to sumatra where they acquired a 17' dinghy. after 125 days at sea they drifted back to sumatra": 1,
 'the troopship britannia was sunk by the german raider thor': 1,
 "fishing from 32' boat": 1,
 'two canoes with 14 aboard blown to sea in a storm. while adrift for 3 week, one person fell overboard and was killed by a shark': 1,
 "sitting in 3' of water": 1,
 'ditched plane in the sea & were adrift on a rubber life raft. ': 1,
 'free diving with goggles': 1,
 'the 6015-ton british ship empire avocet was torpedoed by the german submarine u-125. ': 1,
 'fishing, hauling in fishing gear': 1,
 'the pacquebot laconia, enroute to liverpool with 600 italian prisoners onboard, was torpedoed by the german submarine  u-156 and only 2 rafts were launched before the ship went down. unable to board an overcrowded raft, he was swimming.': 1,
 'adrift on life raft': 1,
 'japanese aircraft shot down. he was one of two survivors rescued by the u.s. destroyer mugford': 1,
 'the ss potlach was torpedoed & sunk by the u-153 on 27-jun-1942. ': 1,
 'on expedition filming a feature movie & standing on tripod': 1,
 'a 210-ton brig was sunk by a japanese submarine. some of the survivors were machine-gunned & some were taken by sharks': 1,
 'boat capsized during filming': 1,
 'catching a turtle': 1,
 'hurricane & tidal wave': 1,
 "diving for trochus  from dinghy when seized by shark 6' below the surface": 1,
 'plane crashed in water, men in life raft': 1,
 'on life raft tethered to lifeboat. a seaman put hand over side to rinse a cup': 1,
 'diving from lugger': 1,
 'h.m.s. cornwall & h.m.s.dorsetshire sunk by japanese dive bombers. officers & men in the water formed a circle with 60 of their dead in the center for 36 hours': 1,
 'standing on his hands': 1,
 'swimming to shore from capsized sailboat': 1,
 'esso bolivar was torpedoed & shelled by the german submarine u-126': 1,
 "captured allied soldiers were squeezed into 3' bamboo pig baskets & fed to waiting sharks": 1,
 'splashing in water ': 1,
 'fishing for perch': 1,
 'sailing from gingood, misamis oriental to sagay (normally a 2-day voyage) capsized with 6 on board, three men were taken by sharks when they attempted to swim to shore.': 1,
 'swimming along side n.e.l. vessel saluda': 1,
 'jumped overboard from torpedoed panamanian freighter': 1,
 'plane forced down, 3 men on rubber life raft. put hand over side to feel drift of boat ': 1,
 'yacht of michael howell capsized': 1,
 'swimming & splashing': 1,
 'slipped off rocks and fell into the water': 1,
 'scooping prawns': 1,
 'swimming to anchored boat': 1,
 'swimming. passer-by, len bedford, heard him shriek , saw shark leap from the water & swimmer disappeared': 1,
 'touching the mouth of a supposedly dead shark': 1,
 'among 31 survivors of crew from the sampan fukulya maru (which reached thursday island in rowing boat) was a man whose arm had been bitten off by shark. the sampan wrecked west of mcarthur island ': 1,
 'swimming alongside warship   tsingt-ao': 1,
 "fishing, removing gaff from shark's mouth": 1,
 'hardhat diving from japanese pearling lugger, reiyo maru': 1,
 'diving for trochus , but swimming on surface': 1,
 'the schooner elizabeth, bound from bluefields, nicaragua to the river port of san carlos foundered': 1,
 'fishing, catching snoek, thyrsites atun': 1,
 'swimming crawl stroke': 1,
 'hardhat diving': 1,
 'swimming, naked': 1,
 'swept overboard': 1,
 'canoe capsized by shark': 1,
 'trochus diving, but floating on surface': 1,
 'watching seine netters with friends, one of whom picked up a netted shark': 1,
 'wreck of a sampam': 1,
 'fishing for the shark that killed george lundberg': 1,
 'diving, attempting to retrieve body of drowning victim wedged between rocks': 1,
 "holding shark's tail ": 1,
 "12 of the penang's crew were returning to the ship when their 12' dinghy capsized": 1,
 'tzenny chandris, a greek freighter laden with scrap iron, foundered in heavy weather': 1,
 'his ship, the us destroyer duncan dd 485, had been  sunk by crossfire from japanese warships. he was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation  ': 1,
 'refused permission to cross on the ferry, he was swimming across the river': 1,
 'fishing from launch, fell into net with shark': 1,
 'diving from the lugger san, operated by the protector of the aborigines': 1,
 'she was on a ship that was torpedoes & was in the water awaiting rescue': 1,
 'fell overboard, hanging onto lifebuoy': 1,
 'standing on sandbank': 1,
 'diving for beche-de-mer from lugger': 1,
 'swimming in hip-deep water': 1,
 'collecting fish in military trap when bitten by captured shark that had been shot by soldiers with garten': 1,
 'swimming in waist-deep water ': 1,
 'dived into sea from launch & bitten immediately': 1,
 'free diving for lobster': 1,
 'freediving for trochus shell (submerged)': 1,
 'dived into the water': 1,
 'male': 1,
 'pleasure boating': 1,
 'standing in water with child in her arms': 1,
 'free diving for trochus shell, swimming to dinghy': 1,
 'spearfishing & had just speared a ulua': 1,
 'taken as he dived into the water': 1,
 'swimming (lead swimmer in race)': 1,
 'japanese freighter bokuyo maru burned & sank': 1,
 'dress diving, filming shark & pulling it through the water for a motion picture scene': 1,
 'surfing (pneumatic surfboard)': 1,
 'hauling in net with shark in it': 1,
 'washed off freighter huncliff by a freak wave': 1,
 'pearl diving, but standing in the water': 1,
 'put foot inside mouth of supposedly dead shark': 1,
 'diving from dinghy for trochus shell': 1,
 'disappeared 11 days earlier, probable homicide victim': 1,
 'bathing/swimming': 1,
 'put foot inside a landed & supposedly dead shark': 1,
 'fishing for bluefish, shark leapt into dory': 1,
 'fishing with dynamite, afterwards in water retrieving catch': 1,
 'swimming ashore after launch capsized': 1,
 'fishing in waist-deep water': 1,
 'dutch merchant ship zaandam torpedoed  by the u-174 amidships, sank & dozens of survivors took to rafts & boats. one man, izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down': 1,
 'crouching in the water': 1,
 'swimming in midriver near sewage outlet & 400 m from a slaughterhouse': 1,
 'landing hooked shark in boat': 1,
 'retrieving bait box that had fallen overboard': 1,
 'accidentally dragged overboard from the sampan holokahana into school of yellowfin tuna': 1,
 'royal hawaiian skymaster dc-6b aircraft went down with  58 passenger & crew': 1,
 'fishing from market fishboat sea spray': 1,
 'aircaft exploded': 1,
 'swimming or wading out  to warn bathers that a shark had been seen': 1,
 'fishing from shore': 1,
 'went over side of boat at trochus ground': 1,
 'fishing / cleaning fish, dived into water to retrieve a lost fish': 1,
 'bathing alongside ship': 1,
 'pearl diving from lugger whyalla': 1,
 'grabbed shark & threw it on deck': 1,
 'fishing trawler flavio gioia ': 1,
 'closed circuit diving (submerged). diving to recover jettisoned packets of opium for police': 1,
 'tuna fishing, standing on stern platform that was submerged by waves': 1,
 'spearfishing, hunting crayfish': 1,
 "adrift on a 4'  raft for 32 days": 1,
 'bitten while cutting shark from net': 1,
 'in rubber dinghy with captain eddie rickenbacker for 21 days. ': 1,
 'fishing for white sharks': 1,
 'swept out to sea while fishing': 1,
 'diving (hookah)': 1,
 'body found on deserted luxury yacht, 38’ christine': 1,
 'cargo ship southern isle sank at 04h00': 1,
 'shipwrecked; adrift on raft for 2 days & 2 nights': 1,
 'diving, recovering fish killed by dynamite': 1,
 'spearfishing, speared a small shark': 1,
 'went to aid of child being menaced by the shark': 1,
 'fishing, standing in water next to purse net': 1,
 'lying prone on surfboard': 1,
 'fishing, standing in water washing fish': 1,
 'swimming on surface': 1,
 'spearfishing, carrying fish on spear': 1,
 'boat exploded': 1,
 'fishing for trout ': 1,
 'swimming from fishing boat setting nets': 1,
 'body surfing & treading water': 1,
 'fishing, setting nets': 1,
 'fishing  (trawling)': 1,
 'american freighter mormackite, bound from buenos aires for baltimore, capsized & sank in heavy seas': 1,
 'swimming near canoe': 1,
 '3 men & 2 boys picked up wearing life jackets and with inner tube': 1,
 'climbing back on ship': 1,
 'skindiving, fish at belt': 1,
 "spearfishing, holding 5' speared fish": 1,
 'free diving for sinkers': 1,
 'dynamiting fish': 1,
 'helmet diving in miami seaquarium': 1,
 'skindiving for specimens': 1,
 'swimming between  anchored  pearling luggers': 1,
 'competing in spearfishing championship & towing dead fish': 1,
 'dived overboard & was swimming near stern of trawler': 1,
 'm.v. tropical sank. sole survivor rode oil drums for 8 days without food or water.': 1,
 'attempting to net shark in shark channel': 1,
 'air/sea disaster pan-american airlines stratocruiser with 44 people onboard crashed into the sea': 1,
 'fishing, walking in river to cast': 1,
 'fishing (trolling)': 1,
 'fishing, holding fish': 1,
 'placed hand in disemboweled shark’s jaws': 1,
 'spearfishing / swimming on surface': 1,
 'swimming near pier': 1,
 'free diving for crayfish': 1,
 'line fishing from lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air': 1,
 'longling fishing': 1,
 'crossing the bay at the ford': 1,
 'hunting lobsters in 2.4 m of water': 1,
 'rowing toward snapper grounds': 1,
 "competing in u/w endurance record, standing beside drum in 10' of water": 1,
 'swimming with speared fish': 1,
 'fishing from boat, kaimamla': 1,
 'spearfishing or fishing': 1,
 'swimming near breakwater': 1,
 'hunting turtle': 1,
 'spearfishing & lassoed shark': 1,
 'fishing for pompano': 1,
 'removing shark from net ': 1,
 'swimming off yacht': 1,
 'attempting to set underwater endurance record': 1,
 'swimming, attacked at  surf carnival': 1,
 'free diving, working on u/w scenes for motion picture': 1,
 'air/sea disaster': 1,
 'fell off surf ski': 1,
 'fishing, casting in the surf': 1,
 'spearfishing (but treading water on the surface)': 1,
 'uss gambier bay cve-73  shelled & sunk  at 09h57 on 10/24/1944, by japanes fleet enroute to attack the allied landing force at leyte.': 1,
 'b-24 aircraft crashed  into the sea': 1,
 'adrift on raft': 1,
 'washed overboard by swell': 1,
 'fell overboard from us navy pc boat': 1,
 'japanese pow ship arisan maru with 1800 american prisoners of war on board bound for slave labor camps was torpedoed by an american submarine': 1,
 'parachuted into pacific': 1,
 'uss johnston dd 557 sunk on 10/24/1944 in the battle off samara. crewmen were swimming beside a raft.': 1,
 'uss hoel dd 533 sunk on 10/24/1944 in the battle off samar. 2 crewmen were swimmng alongside a floater net &': 1,
 'swimming near life raft': 1,
 'swimming after a tennis ball': 1,
 'bathing with her mother': 1,
 'playing on rock, slipped & fell into the water': 1,
 '90 european civilians, many women & children, were placed on the deck of a japanese submarine that submerged when it was well offshore': 1,
 'american cruiser indianapolis torpedoed & sunk by the japanese submarine i-58': 1,
 'american minesweeper uss yms-350 lost in a typhoon - swimming to shore': 1,
 'american minesweeper uss yms-472 foundered in a typhoon - swimming to shore': 1,
 'bitten after dhow shipwrecked': 1,
 'jumping in swells': 1,
 'fell overboard from uss ward': 1,
 'the cuban freighter libertad was torpedoed and sunk by the german submarine u-129': 1,
 'swimming with board': 1,
 'the 6711-ton american freighter & troop transport cape san juan was torpedoed by the japanese submarine i-21': 1,
 'explosion & sinking of the uss juneau after being torpedoed by the submarine  i-85': 1,
 'anti-aircraft cruiser uss atlanta (cl,-05) travelling in convoy after the battle of midway, encountered a japanese flotilla  (battle of guadalcanal) &, heavily damaged by gunfire, she was lost off lunga point. victim was swimming when bitten.': 1,
 'on 6-nov-1942, the german submarine u-68 sank the city of cairo 5 days from cape town, survivors took to lifeboats & rafts. on the 15th day, a fireman jumped over the stern & was taken by sharks': 1,
 'thrown from destroyer when shell hit': 1,
 'u-177 torpedoed & sank the troopship nova scotia': 1,
 'dog paddling or standing': 1,
 'the uss wahoo torpedoes & sank the japanese troop transport buyo maru': 1,
 'known as the battle of the bismarck sea :  8 japanese destroyers guarding a convoy of 8 transports were attacked by 129 allied fighters, 207 bombers & 3 squadrons of the royal australian air force. ': 1,
 'the 3540-ton alfonso penna was torpedoed & sunk by the italian submarine barbarigo': 1,
 'the 21,516-ton troopship empress of canada torpedoed and sunk by the italian submarine leonardo da vinci': 1,
 'small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished': 1,
 'ship torpedoed 400 miles off the african coas. man was clinging to hatch cover': 1,
 'hospital ship centaur torpedoed & sunk by the japanese submarine i-177': 1,
 'b-24 crashed during a search mission. survivors in raft for 47 days ': 1,
 'treading water after survivng crash of the us navy airship k-74 that was hit by the german submarine u-134': 1,

In [23]:
shark.loc[shark['activity'].str.contains('surf|board', case=False, regex=True), 'activity'] = 'surfing'
shark.loc[shark['activity'].str.contains('div|snork', case=False, regex=True), 'activity'] = 'diving'
shark.loc[shark['activity'].str.contains('swim|bath|wading|float', case=False, regex=True), 'activity'] = 'swimming'
shark.loc[shark['activity'].str.contains('fish|stand|walk|tread', case=False, regex=True), 'activity'] = 'fishing'
shark.loc[shark['activity'].str.contains('boat|sail|kaya|kite|cano|row', case=False, regex=True), 'activity'] = 'sailing'
shark.loc[shark['activity'].str.contains('paddl', case=False, regex=True), 'activity'] = 'paddeling'

El resto de casos los considero demasiado particulares y los voy a catalogar como 'other'

In [24]:
act = ['surfing', 'diving', 'activity', 'fishing', 'sailing', 'paddeling']
shark['activity'] = shark['activity'].where(shark['activity'].isin(act), 'other')

In [25]:
(shark['activity'] == 'other').mean() * 100

41.09806410663281

Aunque es un % representativo, debido a la granularidad de los datos he decidido agruparlo así.

In [25]:
shark.activity.value_counts()

activity
other        2590
surfing      1562
fishing      1280
diving        674
sailing       184
paddeling      12
Name: count, dtype: int64

---

# Sex

In [26]:
shark.sex.value_counts()

sex
M    5096
F     637
u     569
Name: count, dtype: int64

La columna está ya limpia y se puede trabajar con ella

---

# Fatal

In [27]:
shark.fatal.value_counts()

fatal
N    4301
Y    1390
U     611
Name: count, dtype: int64

La columna está ya limpia y se puede trabajar con ella

---

# Species

In [28]:
shark.species.value_counts()

species
unknown shark                                                                                                                    2838
White shark                                                                                                                       163
Shark involvement prior to death was not confirmed                                                                                105
Invalid                                                                                                                           102
Shark involvement not confirmed                                                                                                    88
                                                                                                                                 ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                   1
Bull shark, 2.3 m [7.5']                                                                                                            1
0.9 m  [3'] shark                                                                                                                   1
Mako shark, 14'                                                                                                                     1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: count, Length: 1550, dtype: int64

In [31]:
shark.species[:30]

0               White shark
1             unknown shark
2             unknown shark
3                 2 m shark
4           Tiger shark, 3m
5             unknown shark
6               Tiger shark
7           Lemon shark, 3'
8            Bull shark, 6'
9             unknown shark
10          Grey reef shark
11            unknown shark
12            unknown shark
13         Invalid incident
14    Tawny nurse shark, 2m
15            unknown shark
16            unknown shark
17            unknown shark
18              Tiger shark
19            unknown shark
20             Questionable
21                3 m shark
22       White shark, 3.5 m
23              Tiger shark
24       White shark, 2.5 m
25                 6' shark
26      Juvenile bull shark
27            unknown shark
28            unknown shark
29            unknown shark
Name: species, dtype: object

In [30]:
shark.loc[shark['species'].str.contains('not c', case=False, regex=True), 'species'] = 'unknown shark'

Al igual que en la columna hora, para que sea más facil de analizar lo voy a agrupar en las 6 especiens más representativas:
  
Según una rápida investigación en internet las 6 especies que más atacan a los humanos son:
  
1. White Shark
2. Tiger shark
3. Spinner shark
4. Bull shark
5. Reef shark
6. Hammerhead shark
  
Así que las agruparé según esa lista y a los que no se puedan agrupar así, los calificaré de other shark

In [40]:
shark.species.value_counts()

species
unknown shark                                                                                                                    3167
white shark                                                                                                                       732
tiger shark                                                                                                                       283
bull shark                                                                                                                        175
shark involvement prior to death unconfirmed                                                                                       68
                                                                                                                                 ...
nurse shark, 0.9 m [3']                                                                                                             1
1.7 m shark                                                                                                                         1
small dusky shark or blackfin shark                                                                                                 1
possibly a blacktip shark                                                                                                           1
said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: count, Length: 835, dtype: int64

In [34]:
shark.species = [e.lower() for e in shark.species]

In [37]:
shark.loc[shark['species'].str.contains('not c|invalid', case=False, regex=True), 'species'] = 'unknown shark'
shark.loc[shark['species'].str.contains('white', case=False, regex=True), 'species'] = 'white shark'
shark.loc[shark['species'].str.contains('tiger', case=False, regex=True), 'species'] = 'tiger shark'
shark.loc[shark['species'].str.contains('spinner', case=False, regex=True), 'species'] = 'spinner shark'
shark.loc[shark['species'].str.contains('bull', case=False, regex=True), 'species'] = 'bull shark'
shark.loc[shark['species'].str.contains('reef', case=False, regex=True), 'species'] = 'reef shark'
shark.loc[shark['species'].str.contains('hamme', case=False, regex=True), 'species'] = 'hammerhead shark'

In [41]:
act = ['white shark', 'tiger shark', 'spinner shark', 'bull shark', 'reef shark', 'hammerhead shark', 'unknown shark']
shark['species'] = shark['species'].where(shark['species'].isin(act), 'other shark')

In [42]:
shark.species.value_counts()

species
unknown shark       3167
other shark         1849
white shark          732
tiger shark          283
bull shark           175
spinner shark         48
hammerhead shark      48
Name: count, dtype: int64

---

Llegados a este punto considero que ya tengo todos los datos necesarios para realizar el análisis, por lo que creo un nuevo df solo con las columnas que me interesan y lo exporto para analizarlo en la parte 5

In [43]:
shark.to_csv('../data/sharkattack_parte4.csv', index=False)

[SharkAttack - Parte 5 (Bonus: Análisis de hipótesis)](./SharkAttack-Parte5.ipynb)